/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * River of Gold implementation : © joesimpson <1324811+joesimpson@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * riverofgold.scss
 *
 * River of Gold stylesheet
 *
 */

@use "sass:math";
@import "modules/css/variables";
@import "modules/css/player-panel";
@import "modules/css/player-board";
@import "modules/css/river";
@import "modules/css/cards";
@import "modules/css/tiles";
@import "modules/css/meeples";
@import "modules/css/settings";
@import "modules/css/nouislider";
/**
    PREFIX FOR THIS GAME PROJECT : "rog"
*/
#rog_main_zone{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// For animations : 
.phantom {
    visibility: hidden;
} 
.rog_hidden{
    visibility: hidden;
}
//Buttons :
.rog_selected_button{
    background-color: rgb(255, 115, 0);
    &:hover{
        // overrides BGA default
        background-color: rgb(255, 115, 0) !important;
    }
}
.customimagebutton{
    border: medium none;
    display: flex;
    flex-flow: row;
    width: fit-content; 
    
    .rog_trade{
        display: flex;
        align-content: center;
        align-items: center;
        .rog_button_qty{
            font-size: large;
            margin: 0px 5px;
        }
        .rog_icon_favor{
            &::before{
                //remove moon from player panel icon
                content: unset;
            }
            .rog_icon_qty{
                //display number over the sun circle
                padding-top: 10px;
                color: black;
                display: inline-block;
            }
        }
        
        .rog_icon_die_face-1,
        .rog_icon_die_face-2,
        .rog_icon_die_face-3,
        .rog_icon_die_face-4,
        .rog_icon_die_face-5,
        .rog_icon_die_face-6
        {
            .rog_icon_qty{
                //display number on the left
                color: white;
                display: inline-block;
                margin-left: -1em;
                font-size: 2em;
            }
        }
    }
}
 
// SAFE MODE --------------------------
#ebd-body.help-mode {
    .tooltipable {
        cursor: help;
    }
}

.help-marker {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    z-index: 900;
    border: 1px solid black;
    border-radius: 50%;

    svg {
        width: 20px;
        height: 20px;
    }
}

#ebd-body:not(.help-mode) {
    .help-marker {
        opacity: 0;
        pointer-events: none;
    }
}

//--------------------------------------
//LOGS
.log .rog_tile{
    width: calc(var(--rog_tileLogScale) * 330px);
    height: calc(var(--rog_tileLogScale) * 170px);
    display: inline-block;
    line-height: calc(var(--rog_tileLogScale) * 330px);
    max-height: calc(var(--rog_tileLogScale) * 170px);
    text-align: center;
    vertical-align: middle;
    border: none;
    box-shadow: none;
}
//--------------------------------------
/* Cancelled notification messages */
.log.cancel {
    color: #c62828 !important;
    text-decoration: line-through;
}
/* Desktop logs */
.log.cancel .roundedbox {
    background-color: rgba(240, 186, 117, 0.6) !important;
}
/* Mobile logs */
.log.cancel.roundedbox {
    background-color: #ef9a9a;
}