@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * River of Gold implementation : © joesimpson <1324811+joesimpson@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * riverofgold.scss
 *
 * River of Gold stylesheet
 *
 */
:root {
  --rog_board_display_scale: 1;
  --rog_hand_scale: 1;
}

.player_board_inner > .player-name {
  /** Add a BLACK shadow behind player name in case of bright colors like white/orange*/
}
.player_board_inner > .player-name > a[style*="color: #ffa500"],
.player_board_inner > .player-name > a[style*="color: #ffffff"],
.player_board_inner > .player-name > a[style*="color: #bdd002"] {
  text-shadow: 1px 0px 1px black, 0px 1px 1px black, -1px 0px 1px black, 0px -1px 1px black;
}

.rog_panel .rog_player_infos {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  justify-content: space-around;
  position: relative;
  padding: 0.5rem 0;
}
.rog_panel .rog_player_infos .rog_player_resource {
  margin: 4px 0px;
  position: relative;
  text-align: center;
}
.rog_panel .rog_player_infos .rog_player_resource .rog_reserve {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.rog_panel .rog_player_infos .rog_player_resource .rog_resource_money {
  font-size: 22px;
  font-weight: bold;
}
.rog_panel .rog_player_infos .rog_player_resource .rog_resource_money::after {
  content: " x";
}

.rog_icon_container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
}
.rog_icon_container .rog_icon.rog_icon_money {
  width: 2.5em;
  height: 3em;
  background-image: url("img/koku.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#rog_money_animation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
#rog_money_animation .rog_icon_container {
  font-size: 0.8em;
}

#rog_main_zone #rog_resizable_river_board {
  width: calc(var(--rog_board_display_scale) * 2726px);
  height: calc(var(--rog_board_display_scale) * 4000px);
  margin-bottom: 10px;
}
#rog_main_zone #rog_resizable_river_board #rog_river_board_container {
  /* prevents vertical invisible overflow on BGA bottom elements*/
  height: inherit;
}
#rog_main_zone #rog_resizable_river_board #rog_river_board_container #rog_river_board {
  transform: scale(var(--rog_board_display_scale));
  transform-origin: top left;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 1px 1px 10px black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 2726px;
  height: 4000px;
  background-image: url("img/board.jpg");
}
#rog_main_zone #rog_player_boards {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.rog_card {
  width: 148px;
  height: 200px;
  background-image: url("img/cardback.jpg");
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.rog_card.selectable {
  box-shadow: 0px 0px 7px 2px red;
  cursor: pointer;
}
.rog_card.selectable:hover {
  transform: scale(1.1);
}
.rog_card.selected, .rog_card.selected:hover {
  box-shadow: 0px 0px 7px 2px green;
  transform: scale(1.1);
}

.rog_player_hand_resizable {
  display: flex;
  transform: scale(var(--rog_hand_scale));
  transform-origin: top left;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 1px 1px 10px black;
  background-color: rgba(213, 162, 87, 0.5098039216);
  position: relative;
  margin-left: 10px;
}
.rog_player_hand_resizable .rog_player_hand {
  display: flex;
  flex-flow: column;
}
.rog_player_hand_resizable .rog_player_hand .player-name {
  text-align: center;
}
.rog_player_hand_resizable .rog_player_hand .rog_cards_hand {
  height: 223px;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0px 5px;
}
.rog_player_hand_resizable .rog_player_hand .rog_cards_hand .rog_card {
  margin: 2px 5px;
}

/**
 * Player panel settings
 * AUTHOR : © Tisaac
 */
#player_board_config {
  position: relative;
  -o-border-image: none;
     border-image: none;
}

#player_config .player_config_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0px;
  border-bottom: 1px solid #80502e;
}
#player_config .player_config_row:last-child {
  border-bottom: none;
}
#player_config #turn_counter_wrapper {
  text-align: center;
  margin: -5px -3px 0px;
  background: rgba(227, 188, 146, 0.5019607843);
  padding: 8px 0px 4px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5411764706);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Bernard MT Condensed";
  color: black;
  display: block;
}
#player_config #show-settings {
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#player_config #show-settings:hover {
  color: grey;
}
#player_config #show-settings svg {
  width: auto;
  height: 40px;
}
#player_config #show-settings .fa-primary {
  transform-origin: 216px 255px;
  transition: transform 1s;
}
#player_config #show-settings:hover .fa-primary {
  transform: rotate(180deg);
}

#popin_showSettings_underlay {
  background-color: black !important;
  opacity: 0.6;
}

#popin_showSettings {
  background-color: #ebd5bd;
  border-radius: 8px;
  box-shadow: 0 3px 8px black;
  position: relative;
}
#popin_showSettings .rog_popin_closeicon {
  background-color: #a47a77;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 90%;
  color: white !important;
  border: 1px solid #dfbda8;
}
#popin_showSettings .rog_popin_closeicon:hover {
  text-decoration: none;
  color: #ccc !important;
  transform: scale(1.1);
}
#popin_showSettings .rog_popin_closeicon i {
  margin-top: -2px;
}
#popin_showSettings h2 {
  font-family: "Oranienbaum";
  text-align: center;
  font-size: 23px;
  margin: 0px;
  background: #b79570;
  border-radius: 8px 8px 0px 0px;
  padding: 7px 0px;
  border-bottom: 1px solid #734f2a;
}

/*
   * Controls in the top bar
   */
#settings-controls-container {
  position: relative;
  text-align: center;
  width: 550px;
}
#settings-controls-container #settings-controls-header {
  display: flex;
  align-items: stretch;
}
#settings-controls-container #settings-controls-header div {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 8px;
  background: #cca172;
  flex-grow: 1;
  cursor: pointer;
}
#settings-controls-container #settings-controls-header div:last-child {
  border-right: none;
}
#settings-controls-container #settings-controls-header div.open {
  background: none;
  border-bottom: none;
}
#settings-controls-container #settings-controls-wrapper .settings-section {
  display: none;
}
#settings-controls-container #settings-controls-wrapper .settings-section.open {
  display: block;
}
#settings-controls-container .row-data {
  border: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}
#settings-controls-container .row-data .row-label {
  width: 100%;
  float: none;
  color: black;
  padding-bottom: 0px;
  text-overflow: initial;
  white-space: normal;
  padding: 2px 4px 0px;
}
#settings-controls-container .row-data .row-value {
  width: 85%;
  margin: 0;
}
#settings-controls-container .row-data .row-value.slider {
  width: calc(85% - 40px);
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: content-box;
}
#settings-controls-container .row-data.row-data-switch .row-value {
  padding: 6px 0px;
}
#settings-controls-container .row-data label.switch {
  display: block;
}
#settings-controls-container .row-data label.switch input {
  display: none;
}
#settings-controls-container .row-data label.switch .slider {
  margin: auto;
  height: 27px;
  width: 55px;
  position: relative;
  background-color: #a6a6a6;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 34px;
}
#settings-controls-container .row-data label.switch .slider::before {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 4px;
  height: 19px;
  left: 4px;
  width: 19px;
  border-radius: 50%;
  transition: 0.4s;
}
#settings-controls-container .row-data label.switch input:checked + .slider {
  background-color: #2196f3;
}
#settings-controls-container .row-data label.switch input:checked + .slider::before {
  left: 30px;
}

/*! nouislider - 14.6.0 - 6/27/2020 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3fb8af;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #e8e7e6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

/**
    PREFIX FOR THIS GAME PROJECT : "rog"
*/
#rog_main_zone {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.phantom {
  visibility: hidden;
}

.rog_hidden {
  visibility: hidden;
}