.rog_card {
    width: 148px;
    height: 200px;
    background-image: url("img/cardback.jpg");
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;

    //sprite positions
    background-size: 600% 500%;
    @for $i from 0 through 29 {
        &[data-type="#{$i + 1}"] {
            background-image: url("img/cards.jpg");
            background-position-x: ($i % 6) * 100% / 5;
            background-position-y: (($i - ($i % 6)) / 6) * 100% / 4;
        }
    }

    position: relative; 
    &.selectable {
        box-shadow: 0px 0px 7px 2px red;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    &.selected,
    &.selected:hover {
        box-shadow: 0px 0px 7px 2px green;
        transform: scale(1.1);
    }
 
}
.midSizeDialog{//Tooltips
    .rog_card {
        width: 385px;
        height: 532px;

    }
}

.rog_player_hand_resizable {
    display: flex;
    transform: scale(var(--rog_hand_scale));
    transform-origin: top left;
}

#rog_players_deliveries {
    display: flex;
    flex-flow: column;
    transform: scale(var(--rog_delivered_scale));
    transform-origin: top left;
}
.rog_player_hand_resizable,
.rog_player_delivered_resizable {
    display: flex;

    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 10px black;
    background-color: #d5a25782;
    position: relative;
    margin-left: 10px;

    .rog_player_hand,
    .rog_player_delivered{
        display: flex;
        flex-flow: column;
        min-width: 140px;
        width: 100%;

        .player-name{
            text-align: center;
            &[style*='color:#ffa500'],
            &[style*='color:#ffffff'],
            &[style*='color:#bdd002']
            {
                text-shadow: 2px 0px 2px black, 
                    0px 2px 2px black,
                    -2px 0px 2px black,
                    0px -2px 2px black;        
            }
        }
        .rog_cards_hand,
        .rog_cards_delivered {
            height: 223px;
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 0px 5px;
            .rog_card {
                margin: 2px 5px;
            }
        }
    }
}