.rog_card {
    width: 148px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;

    //sprite positions
    background-size: 600% 500%;
    @for $i from 0 through 29 {
        &[data-type="#{$i + 1}"] {
            background-image: url("img/cards/customers.jpg");
            background-position-x: ($i % 6) * 100% / 5;
            background-position-y: (($i - ($i % 6)) / 6) * 100% / 4;
        }
    }

    position: relative; 
    &.selectable {
        box-shadow: 0px 0px 7px 2px blue;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    &.selected,
    &.selected:hover {
        box-shadow: 0px 0px 7px 2px green;
        transform: scale(1.1);
        z-index: 2;

        &.rog_selectedToDiscard{
            .rog_card_wrapper::before{
                //Display a garbage over the card
                align-items:center;
                background:#d1d1d1be;
                bottom:0;
                content:"\f1f8";
                display:flex;
                font:normal normal normal 14px/1 FontAwesome;
                font-size: calc(var(--rog_hand_scale) * 60px);
                justify-content:center;
                left:0;
                position:absolute;
                right:0;
                top:0;
                z-index:10;
           }
        }
    }

    .rog_card_wrapper{//WRAPPER For text datas
        user-select: none;
        .rog_customer_name{
            position: absolute;
            top: 31%;
            width: 60%;
            height: 8%;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
        .rog_delivery_ability,
        .rog_ongoing_ability,
        .rog_endgame_ability {
            position: absolute;
            left: 2%;
            width: 96%;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            font-size: 13px;
            color: black;
            
            .rog_icon_influence{
                width: 1.5em;
                height: 2.2em;
                .rog_icon_qty{
                    font-size: inherit;
                    line-height: 2em;
                    max-height: 2em;
                    width: 100%;
                    height: 100%;
                }
            }
            .rog_icon_score_1,
            .rog_icon_money,
            .rog_icon_favor,
            .rog_icon_influence-1,
            .rog_icon_influence-2,
            .rog_icon_influence-3,
            .rog_icon_influence-4,
            .rog_icon_influence-5,
            .rog_icon_influence-6,
            .rog_icon_customer-1,
            .rog_icon_customer-2,
            .rog_icon_customer-3,
            .rog_icon_customer-4,
            .rog_icon_customer-5,
            .rog_icon_customer-6,
            .rog_icon_ship-3
            {
                width: 2em;
                height: 2em;
            }
        }
        .rog_delivery_ability{
            top: 54%;
            height: 33%;
        }
        .rog_endgame_ability {
            top: 88%;
            height: 10%;
        }
    }
    //ADAPT CARDS element for customer types :
    &[data-customertype='1'] //CUSTOMER_TYPE_ARTISAN
    ,&[data-customertype='3'] //CUSTOMER_TYPE_MERCHANT
    {
        .rog_ongoing_ability{
            top: 73%;
            height: 14%; 
        }
        .rog_delivery_ability{
            height: 18%;
        }
    }
    &[data-customertype='4'] //CUSTOMER_TYPE_MONK
    {
        .rog_ongoing_ability{
            top: 77%;
            height: 23%;
        }
        .rog_delivery_ability{
            height: 22%;
        }
    }
    &[data-customertype='5'] //CUSTOMER_TYPE_NOBLE
    {
        .rog_ongoing_ability{
            top: 68%;
            height: 18%;
        }
        .rog_delivery_ability{
            height: 13%;
        }
    }
 
}
.rog_clan_card {
    width: calc(0.2 * 770px);
    height: calc(0.2 * 1065px);
    background-image: url("img/clans/clans.jpg");
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;

    //sprite positions
    background-size: 400% 400%;
    //@for $i from 0 through 7 {
    //    &[data-type="#{$i + 1}"] {
    //        background-position-x: math.div(($i % 4) * 100%, 3);
    //        &[data-side="0"] {//Back with image
    //            background-position-y: math.div(math.div(($i - ($i % 4)) , 4) * 100%, 3) + math.round(math.div($i,4)) * 66%;
    //        }
    //        &[data-side="1"] {//Front with details
    //            background-position-y: math.div(math.div(($i - ($i % 4)) , 4) * 100%, 3) + math.round(math.div($i,4)) * 66% + 33%;
    //        }
    //    }
    //}
        
    &[data-type="1"],
    &[data-type="5"] {
        background-position-x: 0%;
    } 
    &[data-type="2"],
    &[data-type="6"] {
        background-position-x: 33.333%;
    } 
    &[data-type="3"],
    &[data-type="7"] {
        background-position-x: 66.666%;
    } 
    &[data-type="4"],
    &[data-type="8"] {
        background-position-x: 100%;
    } 
    &[data-type="1"],
    &[data-type="2"],
    &[data-type="3"],
    &[data-type="4"] {
        &[data-side="0"] {//Back with image
            background-position-y: 0%;
        }
        &[data-side="1"] {//Front with details
            background-position-y: 33.333%;
        }
    } 
    &[data-type="5"],
    &[data-type="6"],
    &[data-type="7"],
    &[data-type="8"] {
        &[data-side="0"] {//Back with image
            background-position-y: 66.666%;
        }
        &[data-side="1"] {//Front with details
            background-position-y: 100%;
        }
    } 

    &[data-side="0"] {//Back with image
        .rog_patron_name,
        .rog_patron_desc,
        .rog_patron_ability{
            visibility: hidden;
        }
    }
    &[data-side="1"] {//Front with details
        .rog_clan_name{
            visibility: hidden;
        }
    }

    position: relative; 
    &.selectable {
        box-shadow: 0px 0px 7px 2px blue;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    &.selected,
    &.selected:hover {
        box-shadow: 0px 0px 7px 2px green;
        transform: scale(1.1);
        z-index: 2;
    }
    
    .rog_clan_card_wrapper{
        width: 100%;
        height: 100%;
        .rog_clan_name{
            position: absolute;
            bottom: 8%;
            left: 30%;
            width: 70%;
            color: black;
            font-size: 15px;
        }
        .rog_patron_name{
            left: 4%;
            width: 91%;
            position: absolute;
            top: 6%;
            color: white;
            font-size: 15px;
            text-align: center;
            font-weight: bold;
        }
        .rog_patron_ability{
            position: absolute;
            top: 13%;
            left: 10%;
            width: 80%;
            height: 5%;
            color: white;
            font-size: 10px;
            text-align: center;
            font-style: italic;
        }
        .rog_patron_desc{
            position: absolute;
            top: 60%;
            left: 5%;
            width: 90%;
            height: 39%;
            color: black;
            font-size: 11px;
            text-align: center;
            .rog_icon{
                width: 20px;
                height: 20px;
                &.rog_icon_favor{
                    width: 20px;
                    height: 20px;
                }
                &.rog_icon_customer_card{
                    width: calc( 0.07 * 329px);
                    height: calc( 0.07 * 381px);
                }
            }
        }
    }
}
.rog_card_tooltip{
    .rog_clan_card_wrapper{
        .rog_clan_name{
            font-size: 20px;
        }
        .rog_patron_name{
            font-size: 20px;
        }
        .rog_patron_ability{
            top: 14%;
            font-size: 13px;
        }
        .rog_patron_desc{
            font-size: 13px;
        }
    }
}

.rog_panel{

    .rog_clan_card{
        background-size: math.percentage(calc(math.div(1488px, 220px ))) math.percentage(math.div(2080px,220px ));
        background-repeat: repeat;
        //Hand made values to match ZOOM image of character...
        &[data-type="1"] {
            background-position-x: 6%;
            background-position-y: 33%;
        } 
        &[data-type="2"] {
            background-position-x: 35%;
            background-position-y: 33%;
        } 
        &[data-type="3"] {
            background-position-x: 65%;
            background-position-y: 32%;
        } 
        &[data-type="4"] {
            background-position-x: 94%;
            background-position-y: 32%;
        }
        &[data-type="5"] {
            background-position-x: 5%;
            background-position-y: 88%;
        }
        &[data-type="6"] {
            background-position-x: 35%;
            background-position-y: 88%;
        }
        &[data-type="7"] {
            background-position-x: 65%;
            background-position-y: 88%;
        }
        &[data-type="8"] {
            background-position-x: 94%;
            background-position-y: 88%;
        }
    }

}
#rog_select_piece_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
    .rog_clan_card {
        margin: 5px 0px;
        width: calc(var(--rog_takeCardScale) * 770px);
        height: calc(var(--rog_takeCardScale) * 1065px);

        @for $i from 0 through 7 {
            &[data-type="#{$i + 1}"] {
                order: $i;
            }
        }
    }
}
.rog_card_tooltip{//Tooltips
    .rog_card {
        width: 385px;
        height: 532px;
    }
    .rog_clan_card {
        width: calc(0.35 * 770px);
        height: calc(0.35 * 1065px);
    }
    .rog_card_front_back{
        display: flex;
        flex-wrap: row;
        justify-content: center;
        align-items: center;
    }
}

.rog_player_hand_resizable {
    display: flex;
    align-self: baseline;
    //transform: scale(var(--rog_hand_scale));
    //transform-origin: top left;
    //-> resize cards width inside
    .rog_card{
        position: relative;
        width: calc(var(--rog_hand_scale) * 148px);
        height: calc(var(--rog_hand_scale) * 200px);
    }
}

#rog_players_deliveries {
    display: flex;
    flex-flow: column;
    //transform: scale(var(--rog_delivered_scale));
    //transform-origin: top left;
    .rog_card{
        position: relative;
        width: calc(var(--rog_delivered_scale) * 148px);
        height: calc(var(--rog_delivered_scale) * 200px);
    }
}
.rog_player_hand_resizable,
.rog_player_delivered_resizable {
    display: flex;

    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 10px black;
    background-color: #d5a25782;
    position: relative;
    margin-left: 10px;

    .rog_player_hand{
        min-width: calc(var(--rog_hand_scale) * 148px);
        min-height: calc(var(--rog_hand_scale) * 200px);
    }
    .rog_player_delivered{
        min-width: calc(var(--rog_delivered_scale) * 148px);
        min-height: calc(var(--rog_delivered_scale) * 200px);
    }
    .rog_player_hand,
    .rog_player_delivered{
        display: flex;
        flex-flow: column;
        .rog_title{
            text-align: center;
            padding: 0 7px;
        }
        .player-name,
        .playername{
            text-align: center;
            &[style*='color:#ffa500'], &[data-color='ffa500'],
            &[style*='color:#ffffff'], &[data-color='ffffff'],
            &[style*='color:#bdd002'], &[data-color='bdd002']
            {
                text-shadow: 2px 0px 2px black, 
                    0px 2px 2px black,
                    -2px 0px 2px black,
                    0px -2px 2px black;        
            }
        }
        .rog_cards_hand,
        .rog_cards_delivered {
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 0px 5px;
            .rog_card {
                margin: 2px 5px;
                &.selectable {
                    //to compensate the rescale 'zoom' on the card
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                //ORDER CARDS by type :
                @for $i from 1 through 30 {
                    &[data-type="#{$i}"] {
                        order: $i;
                    }
                }
            }
        }
    }
    //.rog_player_delivered{
    //    min-width: 140px;
    //    width: 100%;
    //    .rog_cards_delivered {
    //        height: 223px;
    //    }
    //}
}