.rog_icon_customer_card{
    background-image: url("img/icons/customer_card.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.07 * 329px);
    height: calc( 0.07 * 381px);
}

.rog_icon_imperial_flower{
    background-image: url("img/icons/imperial_flower.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.1 * 300px);
    height: calc( 0.1 * 305px);
}

.rog_icon_bonus-21{//BONUS_TYPE_CHOICE
    background-image: url("img/icons/wild.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.9 * 64px);
    height: calc( 0.9 * 60px);
}

.rog_icon_bonus-23{//BONUS_TYPE_DRAW
    background-image: url("img/icons/draw1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.4 * 94px);
    height: calc( 0.4 * 166px);
}
.rog_icon_container_bonus-24{
    vertical-align: baseline;
}
.rog_icon_bonus-24{//BONUS_TYPE_UPGRADE_SHIP
    background-image: url("img/icons/royalupgrade.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.5 * 129px);
    height: calc( 0.5 * 68px);
}
.rog_icon_own_building,
.rog_icon_bonus-25{//BONUS_TYPE_SECOND_MARKER_ON_BUILDING
    background-image: url("img/icons/playerbt.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.9 * 57px);
    height: calc( 0.9 * 34px);
}
.rog_icon_opponent_building,
.rog_icon_bonus-26{//BONUS_TYPE_SECOND_MARKER_ON_OPPONENT
    background-image: url("img/icons/oppbt.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.9 * 57px);
    height: calc( 0.9 * 29px);
}

.rog_icon_bonus-27{//BONUS_TYPE_MONEY_OR_GOOD
    //look for an extract of the board (see bottom left)
    background-image: url("img/board.jpg");
    background-size: math.percentage(calc(math.div(2726px, 217px ))) math.percentage(math.div(4000px,75px )) !important;
    background-repeat: repeat !important;
    width: calc( 0.6 * 217px);
    height: calc( 0.6 * 75px);
    background-position-x: calc( 0.6 * -307px);
    background-position-y: calc( 0.6 * -3545px);
    border-radius: 10px;
}

.rog_icon_container_ship-3{
    vertical-align: baseline;
}
.rog_icon_ship-3{//MEEPLE_TYPE_SHIP_ROYAL
    background-image: url("img/icons/royalship.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.7 * 57px);
    height: calc( 0.7 * 58px);
}

.rog_icon_moon_up{
    background-image: url("img/icons/DFupgrade.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.5 * 67px);
    height: calc( 0.5 * 68px);
}

.rog_icon_score_1{
    background-image: url("img/icons/vp1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.5 * 55px);
    height: calc( 0.5 * 43px);
}

.rog_icon_customer_delivery{
    background-image: url("img/icons/customerdelivery.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.5 * 62px);
    height: calc( 0.5 * 56px);
}

.rog_icon_market_simple{//SIMPLE : with no check mark on it
    background-image: url("img/icons/market.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.5 * 52px);
    height: calc( 0.5 * 53px);
}

// In buttons ///////////////////////////
.customimagebutton{
    .rog_icon_bonus-21{
        background-color: white;
        border-radius: 15%;
    }
}

// CARDS ///////////////////////////
.rog_card_wrapper{
    .rog_delivery_ability,
    .rog_ongoing_ability,
    .rog_endgame_ability{
        .rog_icon_bonus-21{//BONUS_TYPE_CHOICE
            width: calc( 0.4 * 64px);
            height: calc( 0.4 * 60px);
        }
        .rog_icon_bonus-25{//BONUS_TYPE_SECOND_MARKER_ON_BUILDING
            width: calc( 0.4 * 57px);
            height: calc( 0.4 * 34px);
        }
        .rog_icon_bonus-26{//BONUS_TYPE_SECOND_MARKER_ON_OPPONENT
            width: calc( 0.4 * 57px);
            height: calc( 0.4 * 29px);
        }
    }
}