
.rog_icon_bonus-21{//BONUS_TYPE_CHOICE
    background-image: url("img/icons/wild.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.9 * 64px);
    height: calc( 0.9 * 60px);
}
.rog_icon_bonus-24{//BONUS_TYPE_UPGRADE_SHIP
    background-image: url("img/icons/royalupgrade.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.5 * 129px);
    height: calc( 0.5 * 68px);
}
.rog_icon_bonus-25{//BONUS_TYPE_SECOND_MARKER_ON_BUILDING
    background-image: url("img/icons/playerbt.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.9 * 57px);
    height: calc( 0.9 * 34px);
}
.rog_icon_bonus-26{//BONUS_TYPE_SECOND_MARKER_ON_OPPONENT
    background-image: url("img/icons/oppbt.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.9 * 57px);
    height: calc( 0.9 * 29px);
}

.rog_icon_ship-3{//MEEPLE_TYPE_SHIP_ROYAL
    background-image: url("img/icons/royalship.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: calc( 0.7 * 57px);
    height: calc( 0.7 * 58px);
}

// In buttons ///////////////////////////
.customimagebutton{
    .rog_icon_bonus-21{
        background-color: white;
        border-radius: 15%;
    }
}