.rog_meeple {
    width: 75px;
    height: 75px;
    background: black;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;

    &[data-type='1'], //MEEPLE_TYPE_SHIP
    &[data-type='3'] //MEEPLE_TYPE_SHIP_ROYAL
    {
        background-image: url("img/boats.png");
        background-size: 200% 400%;
        background-color: transparent;
        box-shadow: none;
        background-position-x: 0%;
        border-radius: 0;
        width: 150px;
        height: 120px;

        &[data-color="0000ff"] {//blue
            background-position-y: 0%;
            //Shape for hovering on neighbours
            clip-path: polygon(104.26% 23.28%, 83.8% 17.95%, 67.61% 28.61%, 28.4% 40.32%, 1.96% 54.19%, 36.91% 79.74%, 96.59% 61.64%);
        }
        &[data-color="ffffff"] {//white
            background-position-y: 36%;
            //Shape for hovering on neighbours
            clip-path: polygon(98.95% 13.69%, 65.68% 8.36%, 25.59% 20.08%, 3.44% 27.93%, 15.68% 74.46%, 37.22% 74.78%, 89.26% 59.55%);
        }
        &[data-color="008000"] {//green
            background-position-y: 66%;
            //Shape for hovering on neighbours
            clip-path: polygon(70.16% 16.88%, 42.03% 33.93%, 7.08% 52.05%, 22.42% 90.41%, 83.80% 72.29%, 97.44% 26.47%);
        }
        &[data-color="ff0000"] {//red
            background-position-y: 100%;
            //Shape for hovering on neighbours
            clip-path: polygon(71.87% 16.88%, 39.47% 21.15%, -4.86% 46.72%, 21.57% 86.15%, 100.00% 60.56%, 103.41% 28.6%);
        }
    }
    &[data-type='3'] {//MEEPLE_TYPE_SHIP_ROYAL
        background-position-x: 100%;
        
        &[data-color="0000ff"] {//blue
            clip-path: polygon(68.45% 6.23%, 15.59% 12.62%, 14.76% 60.57%, -4% 61.64%, 28.38% 92.55%, 47.14% 90.4%, 71.01% 84.02%, 96.58% 73.37%, 106.82% 36.06%, 74.42% 29.67%);
        }
        &[data-color="ffffff"] {//white
            clip-path: polygon(81.24% -1.23%, 27.53% -8.69%, 21.58% 37.13%, 0.26% 37.13%, 13.04% 82.96%, 47.14% 90.4%, 67.6% 82.95%, 87.22% 75.5%, 101.14% 24.34%, 76.98% 21.14%);
        }
        &[data-color="008000"] {//green
            clip-path: polygon(65.04% 11.56%, 17.3% 14.75%, 19.87% 53.11%, 4.52% 60.57%, 18.16% 84.03%, 47.14% 90.4%, 70.16% 86.15%, 89.76% 60.58%, 97.44% 35%, 73.57% 28.6%);
        }
        &[data-color="ff0000"] {//red
            clip-path: polygon(58.22% 7.3%, 42.88% 20.08%, 13.06% 19.01%, 7.94% 50.97%, -3.15% 53.11%, 17.31% 89.36%, 40.32% 90.4%, 85.5% 74.42%, 99.99% 46.73%, 88.91% 30.74%, 82.1% 13.68%);
        }
    }

    &[data-type='2'] {//MEEPLE_TYPE_CLAN_MARKER
        background-image: url("img/clans_markers.png");
        background-size: 400% 100%;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;

        &[data-color="008000"] {//green
            background-position-x: 0%;
        }
        &[data-color="0000ff"] {//blue
            background-position-x: 33%;
        }
        &[data-color="ffffff"] {//white
            background-position-x: 66%;
        }
        &[data-color="ff0000"] {//red
            background-position-x: 100%;
        }
    }
    
    &[data-type='9'] {//MEEPLE_TYPE_SCORE_MARKER
        background-image: url("img/score_markers.png");
        background-size: 400% 100%;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        width: calc(0.6 * 95px);
        height: calc(0.6 * 190px);

        &[data-color="008000"] {//green
            background-position-x: 0%;
        }
        &[data-color="0000ff"] {//blue
            background-position-x: 33%;
        }
        &[data-color="ffffff"] {//white
            background-position-x: 66%;
        }
        &[data-color="ff0000"] {//red
            background-position-x: 100%;
        }
    }
    &.tooltipable:not(.selectable):hover{
        //outline: 10px solid black;
        filter: drop-shadow(0 0 15px black);
        cursor: help;
    }
    &.selectable{
        //outline: 10px solid blue;
        filter: drop-shadow(0 0 15px #00f3ff);
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
    &.selected{
        //outline: 10px solid #ff04cc;
        filter: drop-shadow(0 0 15px red);
        //add a bounce animation : be careful, it is not compatible with other transform !
        animation: bounce 2s ease infinite;
    }
}

@keyframes bounce {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    to {
      transform: scale(1);
    }
}

.rog_tile{
    .rog_meeple{
        position: absolute;
        left: 119px;
        top: 34px;
        transform: translateY(0);
        transition: transform 0.5s;
        &[data-pos='1']{//First clan marker on building
            z-index: 1;
        }
        &[data-pos='2']{//Second clan marker on building
            top: 14px;
            z-index: 2;
        }
    }
    &:hover{
        .rog_meeple{
            //View behind meeple
            transform:translateY(-90%);
            &[data-pos='2']{//Second clan marker on building
                transform:translateY(-100%);
            }
        }
    }
}
.rog_artisan_space,
.rog_elder_space{
    position: absolute;
    display: flex;
    flex-direction: column; 
    width: 72px;
    height: 72px;
    .rog_meeple{
        transform: translateY(0);
        transition: transform 0.5s; 
        &:nth-child(1){
            margin-bottom: -60px;
        }
    }
    &:hover .rog_meeple{
        //View behind meeple 
        &:nth-child(1){
            transform:translateY(-100%);
        }
    }
}
.rog_artisan_space{
    &#rog_artisan_space_1{
        top: 610px;
        left: 2102px;
    }
    &#rog_artisan_space_2{
        top: 1108px;
        left: 2199px;
    }
    &#rog_artisan_space_3{
        top: 1594px;
        left: 2258px;
    }
    &#rog_artisan_space_4{
        top: 2091px;
        left: 2262px;
    }
    &#rog_artisan_space_5{
        top: 2577px;
        left: 2285px;
    }
    &#rog_artisan_space_6{
        top: 3071px;
        left: 2180px;
    }
}
.rog_elder_space{
    &#rog_elder_space_1{
        top: 476px;
        left: 2102px;
    }
    &#rog_elder_space_2{
        top: 975px;
        left: 2199px;
    }
    &#rog_elder_space_3{
        top: 1466px;
        left: 2258px;
    }
    &#rog_elder_space_4{
        top: 1955px;
        left: 2262px;
    }
    &#rog_elder_space_5{
        top: 2442px;
        left: 2285px;
    }
    &#rog_elder_space_6{
        top: 2939px;
        left: 2180px;
    }
}
.rog_influence_track{
    position: absolute;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    &[data-region='1']{
        top: 569px;
        left: 1550px;
    }
    &[data-region='2']{
        top: 1057px;
        left: 1639px;
    }
    &[data-region='3']{
        top: 1551px;
        left: 1703px;
    }
    &[data-region='4']{
        top: 2042px;
        left: 1702px;
    }
    &[data-region='5']{
        top: 2534px;
        left: 1730px;
    }
    &[data-region='6']{
        top: 3024px;
        left: 1623px;
    }
    .rog_influence_track_space{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 16px;
        margin-left: 6px;
        width: 69px;
        height: 93px;
        @for $i from 1 through 6 {
            //Line 1 from left to right
            &[data-pos="#{$i - 1}"]{
                grid-row-start: 1;
                grid-column-start: $i;
            }
        }
        @for $i from 1 through 6 {
            //Line 2 from right to left
            &[data-pos="#{12 - $i}"]{
                grid-row-start: 2;
                grid-column-start: $i;
            }
        }
        @for $i from 1 through 7 {
            //Line 3 from left to right
            &[data-pos="#{11 + $i}"]{
                grid-row-start: 3;
                grid-column-start: $i;
            }
        }
        .rog_meeple{
            transform: translateY(0);
            transition: transform 0.5s; 
            &:nth-child(1){
                margin-bottom: -60px;
            }
            &:nth-child(2){
                margin-bottom: -65px;
            }
            &:nth-child(3){
                margin-bottom: -68px;
            }
        }
        &:hover .rog_meeple{
            //View behind meeple
            &:nth-child(4){
                transform:translateY(-50%);
            }
            &:nth-child(3){
                transform:translateY(-70%);
            }
            &:nth-child(2){
                transform:translateY(-90%);
            }
            &:nth-child(1){
                transform:translateY(-100%);
            }
        }
    }
}

#rog_merchant_space{
    right: 50px;
    bottom: 31px;
    position: absolute;
    display: flex;
    flex-direction: column; 
    width: 72px;
    height: 72px;

    .rog_meeple{
        transform: translateY(0);
        transition: transform 0.5s; 
        &:nth-child(1){
            margin-bottom: -60px;
        }
        &:nth-child(2){
            margin-bottom: -65px;
        }
        &:nth-child(3){
            margin-bottom: -68px;
        }
    }
    &:hover .rog_meeple{
        //View behind meeple
        &:nth-child(4){
            transform:translateY(-50%);
        }
        &:nth-child(3){
            transform:translateY(-70%);
        }
        &:nth-child(2){
            transform:translateY(-90%);
        }
        &:nth-child(1){
            transform:translateY(-100%);
        }
    }
}

/////////////////////////////////////////////////////////////////////
//Layout for ships on the river : max 8 ships on the same space
/////////////////////////////////////////////////////////////////////
.rog_river_space{
    .rog_meeple{
        //SHIPS over rog_river_shape
        z-index: 2;
        &:hover,
        &.selected {
            z-index: 10 !important;
        }
        position: absolute;
    }
}
#rog_river_space-1{
    .rog_meeple{
        //Starts children with 2 because index 1 is for rog_river_shape
        &:nth-of-type(2){
            top: -3px;
            left: -31px;
        }
        &:nth-of-type(3) {
            top: 48px;
            left: -20px;
        }
        &:nth-of-type(4) {
            top: 21px;
            left: 75px;
        }
        &:nth-of-type(5) {
            top: 83px;
            left: 89px;
        }
        &:nth-of-type(6) {
            top: 150px;
            left: 50px;
        }
        &:nth-of-type(7){
            top: 117px;
            left: -43px;
        }
        &:nth-of-type(8) {
            top: 207px;
            left: -43px;
        }
        &:nth-of-type(9){
            top: 268px;
            left: -103px;
        }
    }
}

#rog_river_space-2 .rog_meeple{
    //Starts children with 2 because index 1 is for rog_river_shape
    &:nth-of-type(2){
        top: -3px;
        left: -31px;
        z-index: 5;
    }
    &:nth-of-type(3) {
        top: 48px;
        left: -20px;
        z-index: 6;
    }
    &:nth-of-type(4) {
        top: 44px;
        left: 75px;
        z-index: 7;
    }
    &:nth-of-type(5) {
        top: 104px;
        left: 89px;
        z-index: 9;
    }
    &:nth-of-type(6) {
        top: -50px;
        left: 50px;
        z-index: 4;
    }
    &:nth-of-type(7){
        top: -97px;
        left: 79px;
        z-index: 3;
    }
    &:nth-of-type(8) {
        top: -130px;
        left: 132px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: 109px;
        left: 22px;
        z-index: 8;
    }
}

#rog_river_space-3 .rog_meeple{
    &:nth-of-type(2){
        top: -35px;
        left: -44px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: -10px;
        left: -1px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 22px;
        left: 89px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 70px;
        left: 55px;
        z-index: 8;
    }
    &:nth-of-type(7){
        top: 115px;
        left: 92px;
        z-index: 9;
    }
    &:nth-of-type(8) {
        top: -72px;
        left: -82px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -130px;
        left: -119px;
        z-index: 3;
    }
}
#rog_river_space-4 .rog_meeple{
    &:nth-of-type(2){
        top: -35px;
        left: -44px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: -10px;
        left: -1px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 22px;
        left: 89px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 70px;
        left: 55px;
        z-index: 9;
    }
    &:nth-of-type(7){
        top: 60px;
        left: -32px;
        z-index: 8;
    }
    &:nth-of-type(8) {
        top: -83px;
        left: -54px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -134px;
        left: -79px;
        z-index: 3;
    }
}

#rog_river_space-5 .rog_meeple{
    &:nth-of-type(2){
        top: -35px;
        left: -44px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: -10px;
        left: -1px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 22px;
        left: 89px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 71px;
        left: -39px;
        z-index: 9;
    }
    &:nth-of-type(7){
        top: 30px;
        left: -77px;
        z-index: 8;
    }
    &:nth-of-type(8) {
        top: -81px;
        left: 59px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -39px;
        left: 86px;
        z-index: 3;
    }
}

#rog_river_space-6 .rog_meeple{
    &:nth-of-type(2){
        top: -79px;
        left: -67px;
        z-index: 2;
    }
    &:nth-of-type(3) {
        top: -40px;
        left: -1px;
        z-index: 3;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 3px;
        z-index: 4;
    }
    &:nth-of-type(5) {
        top: 39px;
        left: 40px;
        z-index: 5;
    }
    &:nth-of-type(6) {
        top: 86px;
        left: 31px;
        z-index: 6;
    }
    &:nth-of-type(7){
        top: 150px;
        left: 82px;
        z-index: 7;
    }
    &:nth-of-type(8) {
        z-index: 8;
        top: 201px;
        left: 138px;
    }
    &:nth-of-type(9){
        z-index: 9;
        top: 258px;
        left: 138px;
    }
}

#rog_river_space-7 .rog_meeple{
    &:nth-of-type(2){
        top: -124px;
        left: -42px;
        z-index: 3;
    }
    &:nth-of-type(3) {
        top: -40px;
        left: -1px;
        z-index: 4;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 3px;
        z-index: 5;
    }
    &:nth-of-type(5) {
        top: 39px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(6) {
        top: 86px;
        left: 31px;
        z-index: 7;
    }
    &:nth-of-type(7){
        top: 116px;
        left: 82px;
        z-index: 8;
    }
    &:nth-of-type(8) {
        top: 126px;
        left: -15px;
        z-index: 9;
    }
    &:nth-of-type(9){
        top: -160px;
        left: -71px;
        z-index: 2;
    }
}
#rog_river_space-8 .rog_meeple{
    &:nth-of-type(2){
        top: -24px;
        left: -13px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: 2px;
        left: 55px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 35px;
        left: 90px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 76px;
        left: 139px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 101px;
        left: 9px;
        z-index: 9;
    }
    &:nth-of-type(7){
        top: 60px;
        left: -27px;
        z-index: 8;
    }
    &:nth-of-type(8) {
        top: -35px;
        left: 118px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: 12px;
        left: 155px;
        z-index: 3;
    }
}

#rog_river_space-9 .rog_meeple{
    &:nth-of-type(2){
        top: -35px;
        left: -44px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: -10px;
        left: -1px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 56px;
        left: -21px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 104px;
        left: -34px;
        z-index: 8;
    }
    &:nth-of-type(7){
        top: 146px;
        left: -36px;
        z-index: 9;
    }
    &:nth-of-type(8) {
        top: -86px;
        left: 4px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -86px;
        left: 93px;
        z-index: 3;
    }
}
#rog_river_space-10 .rog_meeple{
    &:nth-of-type(2){
        top: -22px;
        left: -56px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: 15px;
        left: -20px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 39px;
        left: 18px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 84px;
        left: 58px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 135px;
        left: 79px;
        z-index: 8;
    }
    &:nth-of-type(7){
        top: 191px;
        left: 93px;
        z-index: 9;
    }
    &:nth-of-type(8) {
        top: -85px;
        left: 13px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -158px;
        left: 32px;
        z-index: 3;
    }
}
#rog_river_space-11 .rog_meeple{
    &:nth-of-type(2){
        top: -61px;
        left: 1px;
        z-index: 2;
    }
    &:nth-of-type(3) {
        top: -14px;
        left: 13px;
        z-index: 3;
    }
    &:nth-of-type(4) {
        top: 22px;
        left: 42px;
        z-index: 4;
    }
    &:nth-of-type(5) {
        top: 67px;
        left: 79px;
        z-index: 5;
    }
    &:nth-of-type(6) {
        top: 113px;
        left: 83px;
        z-index: 6;
    }
    &:nth-of-type(7){
        top: 170px;
        left: 39px;
        z-index: 9;
    }
    &:nth-of-type(8) {
        top: 90px;
        left: -8px;
        z-index: 7;
    }
    &:nth-of-type(9){
        top: 139px;
        left: 19px;
        z-index: 8;
    }
}

#rog_river_space-12 .rog_meeple{
    &:nth-of-type(2) {
        top: -61px;
        left: 1px;
        z-index: 2;
    }
    &:nth-of-type(3) {
        top: -14px;
        left: 13px;
        z-index: 3;
    }
    &:nth-of-type(4) {
        top: 22px;
        left: 42px;
        z-index: 4;
    }
    &:nth-of-type(5) {
        top: 52px;
        left: 79px;
        z-index: 5;
    }
    &:nth-of-type(6) {
        top: 49px;
        left: -50px;
        z-index: 6;
    }
    &:nth-of-type(7) {
        top: 96px;
        left: -53px;
        z-index: 7;
    }
    &:nth-of-type(8) {
        top: 152px;
        left: -106px;
        z-index: 8;
    }
    &:nth-of-type(9) {
        top: 188px;
        left: -149px;
        z-index: 9;
    }
}

#rog_river_space-13 .rog_meeple{
    &:nth-of-type(2) {
        top: -3px;
        left: -15px;
        z-index: 6;
    }
    &:nth-of-type(3) {
        top: 48px;
        left: 16px;
        z-index: 7;
    }
    &:nth-of-type(4) {
        top: 86px;
        left: 58px;
        z-index: 8;
    }
    &:nth-of-type(5) {
        top: 122px;
        left: 89px;
        z-index: 9;
    }
    &:nth-of-type(6) {
        top: -50px;
        left: 50px;
        z-index: 4;
    }
    &:nth-of-type(7) {
        top: -97px;
        left: 79px;
        z-index: 3;
    }
    &:nth-of-type(8) {
        top: -130px;
        left: 132px;
        z-index: 2;
    }
    &:nth-of-type(9) {
        top: -37px;
        left: -47px;
        z-index: 5;
    }
}
#rog_river_space-14 .rog_meeple{
    &:nth-of-type(2) {
        top: -83px;
        left: -33px;
        z-index: 2;
    }
    &:nth-of-type(3) {
        top: -44px;
        left: 19px;
        z-index: 3;
    }
    &:nth-of-type(4) {
        top: -3px;
        left: 68px;
        z-index: 4;
    }
    &:nth-of-type(5) {
        top: 35px;
        left: 132px;
        z-index: 5;
    }
    &:nth-of-type(6) {
        top: 7px;
        left: -124px;
        z-index: 6;
    }
    &:nth-of-type(7) {
        top: 170px;
        left: 39px;
        z-index: 7;
        top: 48px;
        left: -87px;
    }
    &:nth-of-type(8) {
        top: 92px;
        left: -8px;
        z-index: 8;
    }
    &:nth-of-type(9) {
        top: 139px;
        left: 19px;
        z-index: 9;
    }
}
/////////////////////////////////////////////////////////////////////