.rog_meeple {
    width: 75px;
    height: 75px;
    background: black;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;

    &[data-type='1'] {//MEEPLE_TYPE_SHIP
        background-image: url("img/boats.png");
        background-size: 300% 400%;
        background-color: transparent;
        box-shadow: none;
        background-position-x: 0%;
        border-radius: 0;
        width: 150px;
        height: 120px;

        &[data-color="0000ff"] {//blue
            background-position-y: 0%;
        }
        &[data-color="ffffff"] {//white
            background-position-y: 36%;
        }
        &[data-color="008000"] {//green
            background-position-y: 66%;
        }
        &[data-color="ff0000"] {//red
            background-position-y: 100%;
        }
    }

    &[data-type='2'] {//MEEPLE_TYPE_CLAN_MARKER
        background-image: url("img/clans_markers.png");
        background-size: 1000% 100%;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;

        //green
        background-position-x: 0%;

        &[data-color="0000ff"] {//blue
            background-position-x: 11%;
        }
        &[data-color="ffffff"] {//white
            background-position-x: 55%;
        }
        &[data-color="ff0000"] {//red
            background-position-x: 78%;
        }
    }
}

.rog_tile{
    .rog_meeple{
        position: absolute;
        left: 119px;
        top: 34px;
        transform: translateY(0);
        transition: transform 0.5s;
    }
    &:hover{
        .rog_meeple{
            //View behind meeple
            transform:translateY(-100%);
        }
    }
}
.rog_influence_track{
    position: absolute;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    &[data-region='1']{
        top: 569px;
        left: 1550px;
    }
    &[data-region='2']{
        top: 1057px;
        left: 1639px;
    }
    &[data-region='3']{
        top: 1551px;
        left: 1703px;
    }
    &[data-region='4']{
        top: 2042px;
        left: 1702px;
    }
    &[data-region='5']{
        top: 2534px;
        left: 1730px;
    }
    &[data-region='6']{
        top: 3024px;
        left: 1623px;
    }
    .rog_influence_track_space{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 16px;
        margin-left: 6px;
        width: 69px;
        height: 93px;
        @for $i from 1 through 6 {
            //Line 1 from left to right
            &[data-pos="#{$i - 1}"]{
                grid-row-start: 1;
                grid-column-start: $i;
            }
        }
        @for $i from 1 through 6 {
            //Line 2 from right to left
            &[data-pos="#{12 - $i}"]{
                grid-row-start: 2;
                grid-column-start: $i;
            }
        }
        @for $i from 1 through 7 {
            //Line 3 from left to right
            &[data-pos="#{11 + $i}"]{
                grid-row-start: 3;
                grid-column-start: $i;
            }
        }
        .rog_meeple{
            transform: translateY(0);
            transition: transform 0.5s; 
            &:nth-child(1){
                margin-bottom: -60px;
            }
            &:nth-child(2){
                margin-bottom: -65px;
            }
            &:nth-child(3){
                margin-bottom: -68px;
            }
        }
        &:hover .rog_meeple{
            //View behind meeple
            &:nth-child(4){
                transform:translateY(-50%);
            }
            &:nth-child(3){
                transform:translateY(-70%);
            }
            &:nth-child(2){
                transform:translateY(-90%);
            }
            &:nth-child(1){
                transform:translateY(-100%);
            }
        }
    }
}