
#player_boards{
    >.player-board{
        box-shadow: 1px 1px 10px black;
        &[data-color="ff0000"]{
            box-shadow: 1px 1px 10px #ff0000;
        }
        &[data-color='008000']{
            box-shadow: 1px 1px 10px #008000;
        }
        &[data-color='0000ff']{
            box-shadow: 1px 1px 10px #0000ff;
        }
        &[data-color="ffffff"]{
            box-shadow: 1px 1px 5px black, 1px 1px 10px 5px #fff;
        }
    }
}
.player_board_inner{
    >.player-name{
        /** Add a BLACK shadow behind player name in case of bright colors like white/orange*/
        >a[style*='color: #ffa500'], >a[data-color='ffa500'],
        >a[style*='color: #ffffff'], >a[data-color='ffffff'],
        >a[style*='color: #bdd002'], >a[data-color='bdd002']
        {
            text-shadow: 1px 0px 1px black, 0px 1px 1px black,-1px 0px 1px black,0px -1px 1px black;        
        }
    }
    .player_score{
        //Override BGA Default score icon
        .fa-star{
            //for help marker 
            position: relative;
            &::before {
                content: unset;
            }
            background-image: url("img/icons/vp.png");
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 1.5em;
            height: 1.5em;
            margin: -0.5em 0;
        }
    }
}  
.rog_icon_score{
    background-image: url("img/icons/vp.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    span{
        //When number is displayed on it
        color: white;
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 13px;
        line-height: 100%;
        max-height: 95%;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
    }
}

@for $i from 0 through 5 {
    .rog_icon_die_face-#{$i + 1}, 
    .rog_icon_dieFace[data-face='#{$i + 1}'] {
        width: 3em;
        height: 3em;
        border-radius: 5px;
        box-shadow: 1px 1px 5px black;
        background-image: url("img/dice.jpg");
        background-size: 600% 100% !important;
        background-position-x: math.div(($i % 6) * 100%, 5);
        background-position-y: 0%;
    }
}

.rog_panel{

    .rog_player_infos {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        position: relative;

        hr{
            width: 100%;
        }
        .rog_player_resource_line{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            position: relative;
                
            &:nth-child(1),
            &:nth-child(2){
                //first lines
                font-size: 12px;
                .rog_player_resource {
                    margin: 4px 0px;
                }
            }
                        
            &.rog_player_resource_line_i1,
            &.rog_player_resource_line_i2{
                line-height: 2em;
            }
        }
    
        .rog_player_resource {
            position: relative;
            text-align: center;
            .rog_reserve {
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                &.tooltipable:hover{
                    outline: 2px solid green;
                    z-index: 2;
                }
            }
    
            .rog_resource_favor,
            .rog_resource_money {
                font-size: 20px;
                font-weight: bold;
                &::after {
                    //a total is expected after
                    content: " /";
                }
            } 
            .rog_resource_silk,
            .rog_resource_rice,
            .rog_resource_pottery {
                font-size: 15px;
                font-weight: bold;
                &::after {
                    //a total is expected after
                    content: "/";
                }
            } 
            .rog_resource_port,
            .rog_resource_manor,
            .rog_resource_market,
            .rog_resource_shrine {
                font-size: 15px;
                font-weight: bold;
                &::after {
                    content: " x";
                }
            } 
                
            .rog_resource_influence-1,
            .rog_resource_influence-2,
            .rog_resource_influence-3,
            .rog_resource_influence-4,
            .rog_resource_influence-5,
            .rog_resource_influence-6
            {
                font-size: 15px;
                font-weight: bold;
            }
            
            .rog_resource_customer-1,
            .rog_resource_customer-2,
            .rog_resource_customer-3,
            .rog_resource_customer-4,
            .rog_resource_customer-5,
            .rog_resource_customer-6
            {
                font-size: 15px;
                font-weight: bold;
                vertical-align: middle;
            }

            .rog_resource_favor_total{
                font-size: 12px;
            }
            
            .rog_resource_dieFace{
                font-size: 15px;
                font-weight: bold;
            }
        }
        .rog_clan_card{
            cursor: help;
            border-radius: 50%;
            border: 1px solid black;
            width: 35px;
            height: 35px;
            .rog_clan_name,
            .rog_patron_desc,
            .rog_patron_name{
                display: none;
            }
            .rog_patron_ability{
                margin-left: 45px;
                font-size: 15px;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                visibility: visible;
                color: black;
                //width: max-content;
                width: 186px;
            }
        }
    }
        
    .rog_icon_container {
        margin: 0 0.5em;
    }
}

.rog_icon_container {
    display: inline-block;
    vertical-align: middle;

    &.rog_icon_container_customer-1,
    &.rog_icon_container_customer-2,
    &.rog_icon_container_customer-3,
    &.rog_icon_container_customer-4,
    &.rog_icon_container_customer-5{
        margin-left: 0.2em;
        margin-right: 0.1em;
    }
    
    &.rog_icon_container_influence-1,
    &.rog_icon_container_influence-2,
    &.rog_icon_container_influence-3,
    &.rog_icon_container_influence-4,
    &.rog_icon_container_influence-5,
    &.rog_icon_container_influence-6{
        margin-left: 0.5em;
        margin-right: 0.4em;
    }

    //&.rog_icon_container_moon{
    //    margin-right: -13em;
    //    margin-top: -2em;
    //}

    .rog_icon{
        background-size: 100% auto;
        background-repeat: no-repeat;

        &.rog_icon_money {
            width: 3em;
            height: 3em;
            background-image: url("img/icons/koku.png");
        }
        //&.rog_icon_moon,
        &.rog_icon_favor,
        &.rog_icon_influence-1,
        &.rog_icon_influence-2,
        &.rog_icon_influence-3,
        &.rog_icon_influence-4,
        &.rog_icon_influence-5,
        &.rog_icon_influence-6
        {
            width: 2.5em;
            height: 3em;
        }
        &.rog_icon_pottery,
        &.rog_icon_rice, 
        &.rog_icon_silk
        {
            width: 3em;
            height: 3em;
        }
        &.rog_icon_port,
        &.rog_icon_market,
        &.rog_icon_manor,
        &.rog_icon_shrine
        {
            width: 2.7em;
            height: 2.5em;
        }
        
        //&.rog_icon_moon{
        //    width: 4em;
        //    height: 3em;
        //    background-image: url("img/icons/moon.png");
        //}
        &.rog_icon_favor{
            width: 3em;
            height: 3em;
            background-image: url("img/icons/sun.png");

            //Removed because it takes precious space (and Bug on Iphone), and not needed by publisher
            //&::before{
            //    //Display the moon above sun
            //    content: url("img/icons/moon.png");
            //    width: 4em;
            //    height: 3em;
            //    position: absolute;
            //    display: flex;
            //    margin-top: -2.5em;
            //    margin-left: -0.5em;
            //}
        }
        &.rog_icon_silk{
            background-image: url("img/icons/silk.png");
        }
        &.rog_icon_rice{
            background-image: url("img/icons/rice.png");
        }
        &.rog_icon_pottery{
            background-image: url("img/icons/pottery.png");
        }
        &.rog_icon_port{
            background-image: url("img/icons/port_owned.png");
        }
        &.rog_icon_market{
            background-image: url("img/icons/market_owned.png");
        }
        &.rog_icon_manor{
            background-image: url("img/icons/manor_owned.png");
        }
        &.rog_icon_shrine{
            background-image: url("img/icons/shrine_owned.png");
        }
        &.rog_icon_influence-1{
            background-image: url("img/icons/regions/1.png");
        }
        &.rog_icon_influence-2{
            background-image: url("img/icons/regions/2.png");
        }
        &.rog_icon_influence-3{
            background-image: url("img/icons/regions/3.png");
        }
        &.rog_icon_influence-4{
            background-image: url("img/icons/regions/4.png");
        }
        &.rog_icon_influence-5{
            background-image: url("img/icons/regions/5.png");
        }
        &.rog_icon_influence-6{
            background-image: url("img/icons/regions/6.png");
        }
        
        &.rog_icon_customer-1,
        &.rog_icon_customer-2,
        &.rog_icon_customer-3,
        &.rog_icon_customer-4,
        &.rog_icon_customer-5{
            width: 3em;
            height: 3em;
            border-radius: 50%;
            border: 1px solid black;
            background-image: url("img/icons/heads.jpg");
            background-size: 300% 200%;
        }
        &.rog_icon_customer-1{//CUSTOMER_TYPE_ARTISAN
            background-position-x: 0%;
            background-position-y: 0%;
        }
        &.rog_icon_customer-2{//CUSTOMER_TYPE_ELDER
            background-position-x: 50%;
            background-position-y: 0%;
        }
        &.rog_icon_customer-3{//CUSTOMER_TYPE_MERCHANT
            background-position-x: 50%;
            background-position-y: 100%;
        }
        &.rog_icon_customer-4{//CUSTOMER_TYPE_MONK
            background-position-x: 100%;
            background-position-y: 100%;
        }
        &.rog_icon_customer-5{//CUSTOMER_TYPE_NOBLE
            background-position-x: 0%;
            background-position-y: 100%;
        }


        &.rog_icon_clan-1,
        &.rog_icon_clan-2,
        &.rog_icon_clan-3,
        &.rog_icon_clan-4
        {
            width: 35px;
            height: 30px;
            background-size: math.percentage(calc(math.div(1488px, 75px ))) math.percentage(math.div(2080px,70px ));
            background-repeat: repeat;
            background-image: url("img/clans/clans.jpg");
                
            &.rog_icon_clan-1{
                background-position-x: -13px;
                background-position-y: -183px;
            }
            &.rog_icon_clan-2{
                background-position-x: 160px;
                background-position-y: -183px;
            }
            &.rog_icon_clan-3{
                background-position-x: -13px;
                background-position-y: 263px;
            }
            &.rog_icon_clan-4{
                background-position-x: 167px;
                background-position-y: 263px;
            }
            .rog_icon_qty{
                //display text on the right
                margin-left: 35px;
                color: rgb(0, 0, 0);
                font-size: 15px;
                position: relative;
                display: flex;
                flex-wrap: wrap;
            }
        }

    }
}

#rog_dieFace_animation,
#rog_score_animation,
#rog_pottery_animation,
#rog_rice_animation,
#rog_silk_animation,
#rog_favor_total_animation,
#rog_favor_animation,
#rog_money_animation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;

    .rog_icon_container {
        font-size: 0.8em;
        
    }
}

//#rog_favor_total_animation,
//.notif_giveResource{
    //moon when receiving resource
    .rog_icon_favor_total{
        width: 4em;
        height: 3em;
        background-image: url("img/icons/moon.png"); 
    }
//}

.rog_icon_influence{
    width: 30px;
    height: 40px;
    width: 2.1em;
    height: 3em;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("img/icons/influence.png");
    span{
        //When number is displayed on it
        color: white;
        width: 30px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        max-height: 40px;
        text-align: center;
        vertical-align: middle;
        border: none;
        box-shadow: none;
        font-weight: bold;
        font-size: x-large;
    }
}

body[data-rog_panel_details='1']{//PREF_PLAYER_PANEL_DETAILS_FULL

}
body[data-rog_panel_details='2']{//PREF_PLAYER_PANEL_DETAILS_COMPACT
    //Hide some lines (informations already elsewhere)
    .rog_player_resource_line_buildings,
    .rog_player_resource_line_i1,
    .rog_player_resource_line_i2,
    .rog_player_resource_line_customers
    {
        display: none !important;
    }
}

#rog_end_warning{
    color: red;
    font-style: italic;
}