.player_board_inner{
    >.player-name{
        /** Add a BLACK shadow behind player name in case of bright colors like white/orange*/
        >a[style*='color: #ffa500'],
        >a[style*='color: #ffffff'],
        >a[style*='color: #bdd002']
        {
            text-shadow: 1px 0px 1px black, 0px 1px 1px black,-1px 0px 1px black,0px -1px 1px black;        
        }
    }

}  

.rog_panel{

    .rog_player_infos {
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
        justify-content: space-around;
        position: relative;
        padding: 0.5rem 0;
    
        .rog_player_resource {
            margin: 4px 0px;
            position: relative;
            text-align: center;
            .rog_reserve {
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
            }
    
            .rog_resource_silk,
            .rog_resource_rice,
            .rog_resource_pottery,
            .rog_resource_port,
            .rog_resource_manor,
            .rog_resource_market,
            .rog_resource_shrine,
            .rog_resource_money {
                font-size: 15px;
                font-weight: bold;
                &::after {
                    content: " x";
                }
            } 
        }
    }
}

.rog_icon_container {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;

    .rog_icon{
        &.rog_icon_money {
            width: 2.5em;
            height: 3em;
            background-image: url("img/koku.png");
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        &.rog_icon_pottery,
        &.rog_icon_rice, 
        &.rog_icon_silk {
            width: 2.5em;
            height: 3em;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        &.rog_icon_silk{
            background-image: url("img/silk.png");
        }
        &.rog_icon_rice{
            background-image: url("img/rice.png");
        }
        &.rog_icon_pottery{
            background-image: url("img/pottery.png");
        }

        &.rog_icon_port{
            width: 2.5em;
            height: 3em;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url("img/port_owned.png");
        }
        &.rog_icon_market{
            width: 2.5em;
            height: 3em;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url("img/market_owned.png");
        }
        &.rog_icon_manor{
            width: 2.5em;
            height: 3em;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url("img/manor_owned.png");
        }
        &.rog_icon_shrine{
            width: 2.5em;
            height: 3em;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url("img/shrine_owned.png");
        }
    }
}

#rog_pottery_animation,
#rog_rice_animation,
#rog_silk_animation,
#rog_money_animation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;

    .rog_icon_container {
        font-size: 0.8em;
    }
}