
#player_boards{
    >.player-board{
        box-shadow: 1px 1px 10px black;
        &[data-color="ff0000"]{
            box-shadow: 1px 1px 10px #ff0000;
            border-image: url('img/clans/redBorders.png');
            border-image-slice: 100 100 100 100;
            border-image-width: 10px;
            border-image-repeat: round;
        }
        &[data-color='008000']{
            box-shadow: 1px 1px 10px #008000;
            border-image: url('img/clans/greenBorders.png');
            border-image-slice: 100 100 100 100;
            border-image-width: 10px;
            border-image-repeat: round;
        }
        &[data-color='0000ff']{
            box-shadow: 1px 1px 10px #0000ff;
            border-image: url('img/clans/blueBorders.png');
            border-image-slice: 100 100 100 100;
            border-image-width: 10px;
            border-image-repeat: round;

        }
        &[data-color="ffffff"]{
            box-shadow: 1px 1px 5px black, 1px 1px 10px 5px #fff;

            border-image: url('img/clans/whiteBorders.png');
            border-image-slice: 100 100 100 100;
            border-image-width: 10px;
            border-image-repeat: round;
            box-shadow: none;
        }
    }
}
.player_board_inner{
    >.player-name{
        /** Add a BLACK shadow behind player name in case of bright colors like white/orange*/
        >a[style*='color: #ffa500'], >a[data-color='ffa500'],
        >a[style*='color: #ffffff'], >a[data-color='ffffff'],
        >a[style*='color: #bdd002'], >a[data-color='bdd002']
        {
            text-shadow: 1px 0px 1px black, 0px 1px 1px black,-1px 0px 1px black,0px -1px 1px black;        
        }
    }
    .player_score{
        //Override BGA Default score icon
        .fa-star{
            //for help marker 
            position: relative;
            &::before {
                content: unset;
            }
            margin: -5px 0;
            @include rog_icons_sprite(-59px,-953px,30px,25px,55px,43px);
        }
    }
}  
.rog_icon_score{
    @include rog_icons_sprite(-59px,-953px,30px,25px,55px,43px);
    span{
        //When number is displayed on it
        color: white;
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 13px;
        line-height: 100%;
        max-height: 95%;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}

@for $i from 0 through 5 {
    .rog_icon_die_face-#{$i + 1}, 
    .rog_icon_dieFace[data-face='#{$i + 1}'] {
        width: 5em;
        height: 5em;
        border-radius: 5px;
        box-shadow: 1px 1px 5px black;
        background-image: url("img/dice.jpg");
        background-size: 600% 100% !important;
        background-position-x: math.div(($i % 6) * 100%, 5);
        background-position-y: 0%;
    }
}

.rog_panel{

    .rog_player_infos {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        position: relative;

        hr{
            width: 100%;
        }
        .rog_player_resource_line{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            position: relative;
                
            &.rog_player_resource_line_money,
            &.rog_player_resource_line_materials{
                //font-size: 12px;
                .rog_player_resource {
                    //margin: 4px 0px;
                }
            }
                        
            &.rog_player_resource_line_i1,
            &.rog_player_resource_line_i2{
                line-height: 2em;
            }
        }
    
        .rog_player_resource {
            position: relative;
            text-align: center;
            .rog_reserve {
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                &.tooltipable:hover{
                    outline: 2px solid green;
                    z-index: 2;
                }
            }
    
            .rog_resource_favor,
            .rog_resource_money {
                font-size: 20px;
                font-weight: bold;
                &::after {
                    //a total is expected after
                    content: " /";
                }
            } 
            .rog_resource_silk,
            .rog_resource_rice,
            .rog_resource_pottery {
                font-size: 15px;
                font-weight: bold;
                &::after {
                    //a total is expected after
                    content: "/";
                }
            } 
            .rog_resource_port,
            .rog_resource_manor,
            .rog_resource_market,
            .rog_resource_shrine {
                font-size: 15px;
                font-weight: bold;
                &::after {
                    content: " x";
                }
            } 
                
            .rog_resource_influence-1,
            .rog_resource_influence-2,
            .rog_resource_influence-3,
            .rog_resource_influence-4,
            .rog_resource_influence-5,
            .rog_resource_influence-6
            {
                font-size: 15px;
                font-weight: bold;
            }
            
            .rog_resource_customer-1,
            .rog_resource_customer-2,
            .rog_resource_customer-3,
            .rog_resource_customer-4,
            .rog_resource_customer-5,
            .rog_resource_customer-6
            {
                font-size: 15px;
                font-weight: bold;
                vertical-align: middle;
            }

            &.rog_resource_port,
            &.rog_resource_manor,
            &.rog_resource_market,
            &.rog_resource_shrine,
            &.rog_resource_customer-1,
            &.rog_resource_customer-2,
            &.rog_resource_customer-3,
            &.rog_resource_customer-4,
            &.rog_resource_customer-5,
            &.rog_resource_customer-6,
            &.rog_resource_influence-1,
            &.rog_resource_influence-2,
            &.rog_resource_influence-3,
            &.rog_resource_influence-4,
            &.rog_resource_influence-5,
            &.rog_resource_influence-6
            {
                &.counter_empty{
                    opacity: 0.5;
                }
            }

            .rog_resource_favor_total{
                font-size: 12px;
            }
            
            .rog_resource_dieFace{
                font-size: 20px;
                font-weight: bold;
                &[data-counter='0']{
                    visibility: hidden;
                }
            }
        }
        .rog_clan_card{
            cursor: help;
            border-radius: 50%;
            border: 1px solid black;
            width: 35px;
            height: 35px;
            .rog_clan_name,
            .rog_patron_desc,
            .rog_patron_name{
                display: none;
            }
            .rog_patron_ability{
                font-size: 15px;
                .reduceToFit{
                    //IMPORTANT to override javascript inline style we don't want in this specific case 
                    font-size: 15px !important;
                }
                margin-left: 45px;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                visibility: visible;
                color: inherit;
                //width: max-content;
                width: 186px;
            }
        }
    }
        
    .rog_icon_container {
        margin: 0 0.5em;
    }
}

.rog_icon_container {
    display: inline-block;
    vertical-align: middle;

    &.rog_icon_container_customer-1,
    &.rog_icon_container_customer-2,
    &.rog_icon_container_customer-3,
    &.rog_icon_container_customer-4,
    &.rog_icon_container_customer-5{
        margin-left: 0.2em;
        margin-right: 0.1em;
    }
    
    //&.rog_icon_container_moon{
    //    margin-right: -13em;
    //    margin-top: -2em;
    //}

    .rog_icon{

        &.rog_icon_money {
            @include rog_icons_sprite(-303px,-384px,30px,30px,300px,300px);
        }
        //&.rog_icon_moon,
        &.rog_icon_favor,
        &.rog_icon_influence-1,
        &.rog_icon_influence-2,
        &.rog_icon_influence-3,
        &.rog_icon_influence-4,
        &.rog_icon_influence-5,
        &.rog_icon_influence-6
        {
            width: 2.5em;
            height: 3em;
        }
        &.rog_icon_pottery,
        &.rog_icon_rice, 
        &.rog_icon_silk
        {
            width: 3em;
            height: 3em;
        }
        &.rog_icon_port,
        &.rog_icon_market,
        &.rog_icon_manor,
        &.rog_icon_shrine
        {
            width: 2.7em;
            height: 2.5em;
        }
        
        //&.rog_icon_moon{
        //    width: 4em;
        //    height: 3em;
        //    background-image: url("img/icons/moon.png");
        //}
        &.rog_icon_favor{
            @include rog_icons_sprite(-463px,-303px,30px,30px,66px,65px);

            //Removed because it takes precious space (and Bug on Iphone), and not needed by publisher
            //&::before{
            //    //Display the moon above sun
            //    content: url("img/icons/moon.png");
            //    width: 4em;
            //    height: 3em;
            //    position: absolute;
            //    display: flex;
            //    margin-top: -2.5em;
            //    margin-left: -0.5em;
            //}
        }
        &.rog_icon_silk{
            @include rog_icons_sprite(-605px,-384px,30px,27px,290px,260px);
        }
        &.rog_icon_rice{
            @include rog_icons_sprite(-263px,-691px,30px,30px,260px,260px);
        }
        &.rog_icon_pottery{
            @include rog_icons_sprite(-1px,-691px,30px,30px,260px,260px);
        }
        &.rog_icon_port{
            @include rog_icons_sprite(-661px,-303px,27px,25px,63px,51px);
        }
        &.rog_icon_market{
            @include rog_icons_sprite(-835px,-869px,27px,25px,61px,48px);
        }
        &.rog_icon_manor{
            @include rog_icons_sprite(-898px,-869px,27px,25px,59px,47px);
        }
        &.rog_icon_shrine{
            @include rog_icons_sprite(-1px,-953px,27px,25px,56px,48px);
        }
        &.rog_icon_influence-1{
            @include rog_icons_sprite(-777px,-869px,30px,30px,56px,56px);
        }
        &.rog_icon_influence-2{
            @include rog_icons_sprite(-828px,-793px,30px,30px,57px,57px);
        }
        &.rog_icon_influence-3{
            @include rog_icons_sprite(-887px,-793px,30px,30px,56px,57px);
        }
        &.rog_icon_influence-4{
            @include rog_icons_sprite(-602px,-869px,30px,30px,56px,58px);
        }
        &.rog_icon_influence-5{
            @include rog_icons_sprite(-718px,-869px,30px,30px,57px,56px);
        }
        &.rog_icon_influence-6{
            @include rog_icons_sprite(-660px,-869px,30px,30px,56px,58px);
        }
        
        &.rog_icon_customer-1,
        &.rog_icon_customer-2,
        &.rog_icon_customer-3,
        &.rog_icon_customer-4,
        &.rog_icon_customer-5{
            border-radius: 50%;
            border: 1px solid black;
        }
        &.rog_icon_customer-1{//CUSTOMER_TYPE_ARTISAN
            @include rog_icons_sprite(-525px,-869px,30px,30px,75px,75px);
        }
        &.rog_icon_customer-2{//CUSTOMER_TYPE_ELDER
            @include rog_icons_sprite(-831px,-691px,30px,30px,100px,100px);
        }
        &.rog_icon_customer-3{//CUSTOMER_TYPE_MERCHANT
            @include rog_icons_sprite(-729px,-691px,30px,30px,100px,100px);
        }
        &.rog_icon_customer-4{//CUSTOMER_TYPE_MONK
            @include rog_icons_sprite(-525px,-691px,30px,30px,100px,100px);
        }
        &.rog_icon_customer-5{//CUSTOMER_TYPE_NOBLE
            @include rog_icons_sprite(-627px,-691px,30px,30px,100px,100px);
        }

        &.rog_icon_clan-1{
            @include rog_icons_sprite(-605px,-793px,35px,30px,76px,74px);
        }
        &.rog_icon_clan-2{
            @include rog_icons_sprite(-756px,-793px,35px,30px,70px,71px);
        }
        &.rog_icon_clan-3{
            @include rog_icons_sprite(-525px,-793px,35px,30px,78px,74px);
        }
        &.rog_icon_clan-4{
            @include rog_icons_sprite(-683px,-793px,35px,30px,71px,71px);
        }

    }
}

.rog_player_background_big_symbol{
    position: absolute;
    left: 10%;
    opacity: 0.3;
    $width: 200px;
    $height: 175px;
    &[data-clan='1']{//CLAN_CRAB
        @include rog_icons_sprite(-605px,-793px,$width,$height,76px,74px);
    }
    &[data-clan='2']{//CLAN_MANTIS
        @include rog_icons_sprite(-756px,-793px,$width,$height,70px,71px);
    }
    &[data-clan='3']{//CLAN_CRANE
        @include rog_icons_sprite(-525px,-793px,$width,$height,78px,74px);
        opacity: 0.7;//White is more difficult to see
    }
    &[data-clan='4']{//CLAN_SCORPION
        @include rog_icons_sprite(-683px,-793px,$width,$height,71px,71px);
    }
}

#rog_dieFace_animation,
#rog_score_animation,
#rog_pottery_animation,
#rog_rice_animation,
#rog_silk_animation,
#rog_favor_total_animation,
#rog_favor_animation,
#rog_money_animation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;

    .rog_icon_container {
        font-size: 0.8em;
        
    }
}

//#rog_favor_total_animation,
//.notif_giveResource{
    //moon when receiving resource
    .rog_icon_favor_total{
        @include rog_icons_sprite(-332px,-1px,30px,20px,400px,300px);
    }
//}

.rog_icon_influence{
    @include rog_icons_sprite(-734px,-1px,30px,40px,259px,361px);
    span{
        //When number is displayed on it
        color: white;
        width: 30px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        max-height: 40px;
        text-align: center;
        vertical-align: middle;
        border: none;
        box-shadow: none;
        font-weight: bold;
        font-size: large;
    }
}

#pin-panel-switch{
    //color: black;
    //height: 2em;
    //width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    .pin-panel-icon{
        font-size: 1.7em;
        margin-left: 0.1em;
    }
}   
body.mobile_version{
    #pin-panel-switch{
        display: none;
    }
}
body[data-rog_pin_panel='true']{
    
    //Pin Current player panel
    //#right-side{
    //    .player-board.current-player-board{
    //        position: fixed;
    //        right: 0px;
    //        z-index: 10;
    //    }
    //}
    //&.desktop_version{
    //    #player_board_config{
    //        //Config access with cogs
    //        position: fixed;
    //        right: 0px;
    //        z-index: 10;
    //    }
    //}

    &.desktop_version{
        //PIN the whole right side with panels and notifs (sometimes in a second column)
        #right-side{
            position: fixed;
            right: 0px;
            z-index: 10;

            #pin-panel-switch{
               color: green;
            }
        }
    }
}

body[data-rog_panel_details='1']{//PREF_PLAYER_PANEL_DETAILS_FULL

}
body[data-rog_panel_details='2']{//PREF_PLAYER_PANEL_DETAILS_COMPACT
    //Hide some lines (informations already elsewhere)
    .rog_player_resource_line_buildings,
    .rog_player_resource_line_i1,
    .rog_player_resource_line_i2,
    .rog_player_resource_line_customers
    {
        display: none !important;
    }
}

body[data-rog_panel_background='1']{//PREF_PLAYER_PANEL_BACKGROUND_NONE
    .rog_player_background_big_symbol{
        display: none !important;
    }
}

body[data-rog_panel_border='1']{//PREF_PLAYER_PANEL_BORDER_OFF
    .player-board{
        border-image: none !important;
    }
}

#rog_end_warning{
    color: red;
    font-style: italic;
}

.rog_player_resource_line_clan{
    .rog_player_clan_panel{
        width: 65%;
        height: 5em;
        display: flex;
        flex-direction: row;
        align-items: center;

        .rog_player_clan_name{
            //width: 100px;
            //height: 33px;
            width: 100%;
            height: 100%;
            font-size: 15px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
    .rog_resource_dieFace{
        width: 32%;
    }
}