
#rog_upper_zone{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#rog_main_zone{

    #rog_players_boards{
        
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        
        .rog_player_delivered{
            align-content: center;
            align-items: center;
            width: 100%;
            .rog_cards_delivered{
                flex-wrap: wrap;
            }
        }
    }
} 
