
#rog_upper_zone{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#rog_main_zone{

    #rog_players_boards{
        
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
    }
} 
