
#rog_main_zone{

    #rog_resizable_river_board {
        width: calc(var(--rog_board_display_scale) * 2726px);
        height: calc(var(--rog_board_display_scale) * 4000px);
        margin-bottom: 10px;
 
        #rog_river_board_container{
            /* prevents vertical invisible overflow on BGA bottom elements*/
            height: inherit;
            
            #rog_river_board{
                transform: scale(var(--rog_board_display_scale));
                transform-origin: top left;
                border-radius: 10px;
                border: 2px solid black;
                box-shadow: 1px 1px 10px black;
                position: relative;
        
                display: flex;
                flex-wrap: wrap;

                background-size: 100% auto;
                background-repeat: no-repeat;
                width: 2726px;
                height: 4000px;

                background-image: url('img/board.jpg');

                #rog_river_spaces{
                    position: absolute;
                    left: 909px;
                    top: 250px;

                    .rog_river_space{
                        &.selectable{
                            width: 150px;
                            height: 120px;
                            outline: 10px solid blue;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                        &.selected{
                            outline: 10px solid #ff04cc;
                        }
                    }
                }
            }
        }
    } 

} 

#rog_score_track{
    position: absolute;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(32, 1fr);
    display: grid;
    top: 117px;
    left: 116px;
    .rog_score_track_space{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 125px;
        height: 118px;

        //For debugging:
        //outline: 1px solid red;

        //LEFT Line from bottom to top
        @for $i from 1 through 32 {
            &[data-pos="#{$i - 1}"]{
                grid-row-start: (32 - $i + 1);
                grid-column-start: 1;
            }
        }
        //upper Line from left to right
        @for $i from 1 through 20 {
            &[data-pos="#{30 + $i}"]{
                grid-row-start: 1;
                grid-column-start: $i;
            }
        }
        //RIGHT Line from top to bottom
        @for $i from 1 through 32 {
            &[data-pos="#{50 + $i - 1}"]{
                grid-row-start: $i;
                grid-column-start: 20;
            }
        }
        //Bottom Line from right to left
        @for $i from 1 through 20 {
            &[data-pos="#{101 - $i}"]{
                grid-row-start: 32;
                grid-column-start: $i;
            }
        }
        .rog_meeple{
            transform: translateY(0);
            transition: transform 0.5s; 
            &:nth-child(1){
                margin-bottom: -60px;
            }
            &:nth-child(2){
                margin-bottom: -65px;
            }
            &:nth-child(3){
                margin-bottom: -68px;
            }
        }
        &:hover .rog_meeple{
            //View behind meeple
            &:nth-child(4){
                transform:translateY(-50%);
            }
            &:nth-child(3){
                transform:translateY(-70%);
            }
            &:nth-child(2){
                transform:translateY(-90%);
            }
            &:nth-child(1){
                transform:translateY(-100%);
            }
        }
    }
}


.rog_shore_space{
    &#rog_shore_space-1{
        left: 1166px;
        top: 251px;
    }
    &#rog_shore_space-2{
        left: 543px;
        top: 312px;
    }
    &#rog_shore_space-3{
        left: 1113px;
        top: 415px;
    }
    &#rog_shore_space-4{
        left: 410px;
        top: 526px;
    }
    &#rog_shore_space-5{
        left: 1009px;
        top: 589px;
    }
    &#rog_shore_space-6{
        //first imperial market space
        left: 400px;
        top: 750px;
    }
    &#rog_shore_space-7{
        left: 1058px;
        top: 773px;
    }
    &#rog_shore_space-8{
        left: 402px;
        top: 932px;
    }
    &#rog_shore_space-9{
        left: 1081px;
        top: 1012px;
    }
    &#rog_shore_space-10{
        left: 467px;
        top: 1118px;
    }
    &#rog_shore_space-11{
        left: 1170px;
        top: 1227px;
    }
    &#rog_shore_space-12{
        left: 521px;
        top: 1325px;
    }
    &#rog_shore_space-13{
        left: 1225px;
        top: 1469px;
    }
    &#rog_shore_space-14{
        left: 627px;
        top: 1531px;
    }
    &#rog_shore_space-15{
        left: 1271px;
        top: 1741px;
    }
    &#rog_shore_space-16{
        left: 619px;
        top: 1753px;
    }
    &#rog_shore_space-17{
        //2nd imperial market space
        left: 660px;
        top: 1996px;
    }
    &#rog_shore_space-18{
        left: 1259px;
        top: 2020px;
    }
    &#rog_shore_space-19{
        left: 626px;
        top: 2168px;
    }
    &#rog_shore_space-20{
        left: 1259px;
        top: 2276px;
    }
    &#rog_shore_space-21{
        left: 662px;
        top: 2339px;
    }
    &#rog_shore_space-22{
        left: 665px;
        top: 2601px;
    }
    &#rog_shore_space-23{
        left: 1328px;
        top: 2608px;
    }
    &#rog_shore_space-24{
        left: 520px;
        top: 2803px;
    }
    &#rog_shore_space-25{
        left: 1178px;
        top: 2824px;
    }
    &#rog_shore_space-26{
        left: 397px;
        top: 2995px;
    }
    &#rog_shore_space-27{
        left: 1047px;
        top: 3070px;
    }
    &#rog_shore_space-28{
        left: 273px;
        top: 3205px;
    }
    &#rog_shore_space-29{
        //3rd imperial market space
        left: 1042px;
        top: 3274px;
    }
    &#rog_shore_space-30{
        left: 848px;
        top: 3443px;
    }

    //Right side of the river:
    &#rog_shore_space-1,
    &#rog_shore_space-3,
    &#rog_shore_space-5,
    &#rog_shore_space-7,
    &#rog_shore_space-9,
    &#rog_shore_space-11,
    &#rog_shore_space-13,
    &#rog_shore_space-15,
    &#rog_shore_space-18,
    &#rog_shore_space-20,
    &#rog_shore_space-23,
    &#rog_shore_space-25,
    &#rog_shore_space-27,
    &#rog_shore_space-29,
    &#rog_shore_space-30{
        /*don't rotate anymore with sprite of tiles back
        transform: rotate(180deg);
        &.selectable:hover {
            transform: rotate(180deg) scale(1.2);

        }*/
        &.selectable,
        .rog_tile{
            margin-left: 8px;
            background-image: url("img/buildings_back.png");
            .rog_meeple{
                margin-left: 8px;
            }
        }
        &.selectable{
            //Reverse the polygon
            clip-path: polygon(15.04% 9.19%, 95.78% 7.48%, 96.75% 92.7%, 17.24% 92.25%, 1.49% 59.79%, 1.21% 42.73%);
        }
    }
}



.rog_river_space{
    position: absolute;

    &[data-pos='1']{
        //STARTING SPACE------------------------
        top: 0px;
        left: 0px;
    }
    &[data-pos='2']{
        top: 376px;
        left: -100px;
    }
    &[data-pos='3']{
        top: 562px;
        left: -100px;
    }
    &[data-pos='4']{
        top: 770px;
        left: -100px;
    }
    &[data-pos='5']{
        top: 970px;
        left: 0px;
    }
    &[data-pos='6']{
        top: 1170px;
        left: 100px;
    }
    &[data-pos='7']{
        top: 1370px;
        left: 54px;
    }
    &[data-pos='8']{
        //--------------- MIDDLE --------------
        top: 1601px;
        left: 54px;
    }
    &[data-pos='9']{
        top: 1901px;
        left: 85px;
    }
    &[data-pos='10']{
        top: 2101px;
        left: 199px;
    }
    &[data-pos='11']{
        top: 2301px;
        left: 134px;
    }
    &[data-pos='12']{
        top: 2527px;
        left: 13px;
    }
    &[data-pos='13']{
        top: 2827px;
        left: -100px;
    }
    &[data-pos='14']{
        top: 3027px;
        left: -200px;
    }

}