

.rog_tile_tooltip[data-subtype='1'],//TILE_TYPE_SCORING
#rog_scoring_tiles{
        
    .rog_tile {
        width: 350px;
        height: 122px;

        //sprite positions
        background-size: 200% 600%;
        background-image: url("img/scoringtile.png");
        @for $i from 0 through 11 {
            &[data-type="#{$i + 1}"] {
                background-position-y: ($i % 6) * 100% / 5;
                background-position-x: (($i - ($i % 6)) / 6) * 100% / 1;
            }
        }
    
    }
}
#rog_scoring_tiles{
    #rog_scoring_tile-1{
        position: absolute;
        top: 456px;
        left: 1735px;
    }
    #rog_scoring_tile-2{
        position: absolute;
        top: 946px;
        left: 1837px;
    }
    #rog_scoring_tile-3{
        position: absolute;
        top: 1436px;
        left: 1899px;
    }
    #rog_scoring_tile-4{
        position: absolute;
        top: 1929px;
        left: 1900px;
    }
    #rog_scoring_tile-5{
        position: absolute;
        top: 2418px;
        left: 1923px;
    }
    #rog_scoring_tile-6{
        position: absolute;
        top: 2910px;
        left: 1815px;
    }

}
 
.rog_tile_tooltip{//Tooltips
    h1{
        text-align: center;
    }
    &[data-subtype='1']{//TILE_TYPE_SCORING
        .rog_tile {
            width: 500px;
            height: 174px;
        }
    }
    &[data-subtype='2']{//TILE_TYPE_BUILDING
        .rog_tile {
            width: 520px;
            height: 260px;
        }
    }
    &[data-subtype='3']{//TILE_TYPE_MASTERY_CARD
        .rog_tile {
            width: 500px;
            height: 360px;
        }
    }
}

//Will hold the mastery cards (managed as tiles)
#rog_mastery_cards{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-bottom: 5px;

    .rog_mastery_cards_resizeable {
        display: flex;
        width: calc(var(--rog_mastery_scale) * 356px);
        height: calc(var(--rog_mastery_scale) * 257px);

    .rog_tile_holder{
        display: flex;
        transform: scale(var(--rog_mastery_scale));
        transform-origin: top left;

        .rog_tile {
            position: relative;
            width: 356px;
            height: 257px;

            .rog_meeple{
                width: 55px;
                height: 55px;
                position: absolute;
                top: 154px;
            }

            &[data-nbPlayers='2']{
                .rog_meeple {
                    //1 spot
                    &[data-pos='1']{
                        left: 150px;
                    }
                }
            }
            &[data-nbPlayers='3'],
            &[data-nbPlayers='4']{
                //3 spots
                .rog_meeple{
                    &[data-pos='1']{
                        left: 54px;
                    }
                    &[data-pos='2']{
                        left: 150px;
                    }
                    &[data-pos='3']{
                        left: 246px;
                    }
                }
            }
        }
    }
    }
}

.rog_tile_tooltip[data-subtype='3'],//TILE_TYPE_MASTERY_CARD
#rog_mastery_cards{ 
    .rog_tile {

        background-image: url("img/masterycards.jpg");
        //sprite positions
        background-size: 300% 400%;
        @for $i from 0 through 11 {
            &[data-type="#{$i + 1}"] {
                background-position-x: ($i % 3) * 100% / 2;
                background-position-y: (($i - ($i % 3)) / 3) * 100% / 3;
            }
        }

    }
}
.rog_era_tile_holder{
    width: 1046px;
    height: 960px;
    background-repeat: no-repeat;
    background-image: url("img/eraTileHolder.png");
    background-size: 100%;
}
.rog_era_tile_tooltip{
    h1{
        text-align: center;
    }
    .rog_era_tile_holder{
        width: 500px;
        height: 459px;
    }
}

#rog_era_tile_resizable {
    position: relative;
    width: calc(var(--rog_era_tile_holder_scale) * 1046px);
    height: calc(var(--rog_era_tile_holder_scale) * 960px);
    margin-bottom: 10px;
    #rog_era_tile_holder{
        margin-left: 5px;
        margin-bottom: 5px;
        position: relative;
        transform: scale(var(--rog_era_tile_holder_scale));
        transform-origin: top left;

        .rog_building_slot{
            top: 250px;
            &#rog_building_era-1{
                left: -155px;
            }
            &#rog_building_era-2{
                left: 288px;
            }
            //add tile shape for tooltip sensitiveness
            clip-path: polygon(82.77% 10.15%, 96.27% 44.27%, 94.77% 60.73%, 83.49% 89.34%, 0.99% 92.71%, 0.71% 11.74%);
            .rog_tile{
                width: 890px;
                height: 445px;
            }
        }
        
        .rog_deck_size {
            background: rgba(0, 0, 0, .7);
            border-radius: 0 0 50px 50px;
            color: #fff;
            font-size: 57px;
            position: absolute;
            text-align: center;
            width: 367px;
            bottom: 28px;
            cursor: help;
            &#rog_deck_size-1{
                left: 108px;
            }
            &#rog_deck_size-2{
                left: 552px;
            }
        }
    }
}

//Will hold the building tiles to be bought
#rog_building_row{
    .rog_building_slot{ 
        bottom: 365px;
        &#rog_building_slot-1{
            right: 354px;
        }
        &#rog_building_slot-2{
            right: 513px;
        }
        &#rog_building_slot-3{
            right: 674px;
        }
        &#rog_building_slot-4{
            right: 832px;
        }
 
    }
} 
.rog_building_slot{
    position: absolute;
    transform: rotate(-90deg); 

    .rog_tile{
        width: 340px;
        height: 170px;
            
        //&.selectable {
        //    box-shadow: 0px 0px 10px 2px rgb(26, 1, 248);
        //    cursor: pointer;
        //    &:hover,
        //    &.selected {
        //        transform: rotate(-90deg) scale(1.2);
        //        z-index: 2;
        //    }
        //}
    }
}
.rog_shore_space{
    position: absolute;
    transform: rotate(0deg); 

    .rog_tile{
        width: 333px;
        height: 170px;

        &.selectable {//for second marker selection :
            clip-path: polygon(82.77% 10.15%, 96.27% 44.27%, 94.77% 60.73%, 83.49% 89.34%, 0.99% 92.71%, 0.71% 11.74%);
            background-color: #c700ff6e;
            cursor: pointer;
            &:hover,
            &.selected {
                transform: scale(1.2);
                z-index: 2;
            }
            &.selected{
                background-color: rgb(0, 16, 162);
            }
        }
    }
}

.rog_tile[data-subtype='2'],//TILE_TYPE_BUILDING
.rog_shore_space .rog_tile,
.rog_shore_space.selectable:hover,
.rog_shore_space.selectable.selected,
.rog_tile_tooltip[data-subtype='2'] .rog_tile,//TILE_TYPE_BUILDING
.rog_button_building_tile,
.rog_building_slot .rog_tile{
        width: 333px;
        height: 170px;
        //sprite positions
        background-size: 500% 1000%;
        @for $i from 0 through 45 {
            &[data-type="#{$i + 1}"] {
                background-image: url("img/buildings.png");
                background-position-x: ($i % 5) * 100% / 4;
                background-position-y: (($i - ($i % 5)) / 5) * 100% / 9;
            }
        }
}
.rog_building_slot.selectable,
.rog_shore_space.selectable{
    width: 333px;
    height: 170px;
    background-size: 500% 1000%;
    background-image: url("img/buildings.png");
    //coord of yellow border
    background-position-x: 50%;
    background-position-y: 100%;
    background-color: #c700ff6e;
    clip-path: polygon(82.77% 10.15%, 96.27% 44.27%, 94.77% 60.73%, 83.49% 89.34%, 0.99% 92.71%, 0.71% 11.74%);
    //outline: 10px solid rgb(0, 4, 255);
    cursor: pointer;
    &.selected{
        //coord of blue border
        background-position-x: 100%;
    }
    &:hover {
        transform: scale(1.2);
    }
    &.rog_building_slot{
        background-color: rgb(44, 0, 255);
        clip-path: polygon(82.77% 8.17%, 97.24% 43.78%, 97.67% 61.22%, 83.49% 93.05%, 0.99% 92.71%, -1.23% 7.79%);
        &:hover {
            transform: rotate(-90deg) scale(1.2);
        }
        &.selected{
            background-color: rgb(0, 162, 0);
        }
    }
}
.rog_shore_space.selected,
.rog_tile.selected{
    outline: 10px solid green;
    background-color: rgba(0, 128, 0, 0.26);
}
.rog_button_building_tile{
    width: 200px;
    height: 100px;
}