

.rog_tile_tooltip[data-subtype='1'],//TILE_TYPE_SCORING
#rog_scoring_tiles{
        
    .rog_tile {
        width: 350px;
        height: 122px;

        //sprite positions
        background-size: 200% 600%;
        background-image: url("img/tiles/scoringtile.png");
        @for $i from 0 through 11 {
            &[data-type="#{$i + 1}"] {
                background-position-y: ($i % 6) * 100% / 5;
                background-position-x: (($i - ($i % 6)) / 6) * 100% / 1;
            }
        }
    
    }
}
#rog_scoring_tiles{
    #rog_scoring_tile-1{
        position: absolute;
        top: 456px;
        left: 1735px;
    }
    #rog_scoring_tile-2{
        position: absolute;
        top: 946px;
        left: 1837px;
    }
    #rog_scoring_tile-3{
        position: absolute;
        top: 1436px;
        left: 1899px;
    }
    #rog_scoring_tile-4{
        position: absolute;
        top: 1929px;
        left: 1900px;
    }
    #rog_scoring_tile-5{
        position: absolute;
        top: 2418px;
        left: 1923px;
    }
    #rog_scoring_tile-6{
        position: absolute;
        top: 2910px;
        left: 1815px;
    }

}
 
.rog_tile_tooltip{//Tooltips
    h1{
        text-align: center;
    }
    .rog_tile_era{
        font-style: italic;
        text-align: center;
    }
    .rog_building_tile_infos{
        .rog_owner_rewards, 
        .rog_visitor_rewards{
            ul{
                font-weight: bold;
                li{
                    font-weight: normal;
                }
            }
        }
    }
    &[data-subtype='1']{//TILE_TYPE_SCORING
        .rog_tile {
            width: 500px;
            height: 174px;
        }
        .rog_detail_reminder{
            color: red;
        }
        .rog_detail{
            margin-top: 5px;
        }
        .rog_maxSpaces{
            font-style: italic;
            font-weight: bold;
            text-decoration: underline overline red;
            font-size: 1.5em;
        }
        #rog_finalscore_table{
            left: 35%;
            position: relative;
        }
    }
    &[data-subtype='2']{//TILE_TYPE_BUILDING
        .rog_tile {
            width: 520px;
            height: 260px;
        }
    }
    &[data-subtype='3']{//TILE_TYPE_MASTERY_CARD
        .rog_tile {
            width: 500px;
            height: 360px;
        }
    }
}

//Will hold the mastery cards (managed as tiles)
#rog_mastery_cards{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-bottom: 5px;

    .rog_mastery_cards_resizeable {
        display: flex;
        width: calc(var(--rog_mastery_scale) * 356px);
        height: calc(var(--rog_mastery_scale) * 257px);
        .help-marker{
            //Keep around the same size for the help marker in help mode
            transform: scale(calc(1 / var(--rog_mastery_scale)));
            transform-origin: top left;
        }

    .rog_tile_holder{
        display: flex;
        transform: scale(var(--rog_mastery_scale));
        transform-origin: top left;

        .rog_tile {
            position: relative;
            width: 356px;
            height: 257px;

            .rog_meeple{
                width: 55px;
                height: 55px;
                position: absolute;
                top: 154px;
            }

            &[data-nbPlayers='2']{
                .rog_meeple {
                    //1 spot
                    &[data-pos='1']{
                        left: 150px;
                    }
                }
            }
            &[data-nbPlayers='3'],
            &[data-nbPlayers='4']{
                //3 spots
                .rog_meeple{
                    &[data-pos='1']{
                        left: 54px;
                    }
                    &[data-pos='2']{
                        left: 150px;
                    }
                    &[data-pos='3']{
                        left: 246px;
                    }
                }
            }
        }
    }
    }
}

.rog_tile_tooltip[data-subtype='3'],//TILE_TYPE_MASTERY_CARD
#rog_mastery_cards{ 
    .rog_tile {

        background-image: url("img/cards/masterycards.jpg");
        //sprite positions
        background-size: 300% 400%;
        @for $i from 0 through 11 {
            &[data-type="#{$i + 1}"] {
                background-position-x: ($i % 3) * 100% / 2;
                background-position-y: (($i - ($i % 3)) / 3) * 100% / 3;
            }
        }

    }
}
.rog_masterycard{
    //Text datas to be written on a mastery card
    .rog_masterycard_wrapper{
        user-select: none;
        color: black;
        .rog_mastery_title{
            position: absolute;
            top: 7%;
            left: 31%;
            width: 38%;
            height: 12%; 
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            font-weight: bold;
        }
        .rog_masterydesc{
            position: absolute;
            top: 20%;
            left: 5%;
            width: 90%;
            height: 40%;
            font-size: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            .rog_icon{
                &.rog_icon_imperial_flower{
                    margin: 0 5px;
                    width: calc( 0.1 * 300px);
                    height: calc( 0.1 * 305px);
                }
                &.rog_icon_influence{
                    width: 30px;
                    height: 40px;
                }
            }
        }    
        .rog_mastery_buildings,
        .rog_mastery_customers{
            position: absolute;
            top: 53%;
            width: 100%;
            font-size: 10px;
            .rog_building_label,
            .rog_customer_label{
                position: absolute;
                text-align: center;
            }
        }
    }
    &[data-masterytype='1']//MASTERY_TYPE_AIR
    ,&[data-masterytype='3']//MASTERY_TYPE_EARTH
    ,&[data-masterytype='4']//MASTERY_TYPE_FIRE
    ,&[data-masterytype='6']//MASTERY_TYPE_WATER
    {
        .rog_masterydesc{
            //Part of the card has icons after description, so let's reduce the used height
            height: 20%;
        }
    }
    
    &[data-masterytype='1']//MASTERY_TYPE_AIR
    ,&[data-masterytype='4']//MASTERY_TYPE_FIRE
    {
        .rog_customer_label{
            &[data-type='1']//CUSTOMER_TYPE_ARTISAN
            {
                left: 1%;
                width: 22%;
                max-width: 22%;
            }
            &[data-type='2']//CUSTOMER_TYPE_ELDER
            {
                left: 23%;
                max-width: 18%;
                width: 18%;
            }
            &[data-type='3']//CUSTOMER_TYPE_MERCHANT
            {
                left: 40%;
                max-width: 18%;
                width: 18%;
            }
            &[data-type='4']//CUSTOMER_TYPE_MONK
            {
                left: 58%;
                max-width: 18%;
                width: 18%;
            }
            &[data-type='5']//CUSTOMER_TYPE_NOBLE
            {
                left: 75%;
                max-width: 25%;
                width: 25%;
            }
        }
    }
    &[data-masterytype='3']//MASTERY_TYPE_EARTH
    ,&[data-masterytype='6']//MASTERY_TYPE_WATER
    {
        .rog_building_label{
            &[data-type='3']//BUILDING_TYPE_MANOR
            {
                left: 7%;
                width: 22%;
                max-width: 22%;
            }
            &[data-type='2']//BUILDING_TYPE_MARKET
            {
                left: 29%;
                max-width: 20%;
                width: 20%;
            }
            &[data-type='1']//BUILDING_TYPE_PORT
            {
                left: 49%;
                max-width: 19%;
                width: 19%;
            }
            &[data-type='4']//BUILDING_TYPE_SHRINE
            {
                left: 68%;
                max-width: 25%;
                width: 25%;
            } 
        }
    }
    
    &[data-masterytype='6']//MASTERY_TYPE_WATER
    {
        .rog_building_label{
            &[data-type='3']//BUILDING_TYPE_MANOR
            {
                text-align: right;
                right: 69%;
            }
            &[data-type='4']//BUILDING_TYPE_SHRINE
            {
                text-align: left;
                left: 71%;
            } 
        }
    }
}
.rog_masterycard_tooltip{
    #rog_score_mastery_table{
        left: 35%;
        position: relative;
    }
    .rog_tile{
        //To avoid having text content of tile to start positionning from tooltip beginning
        position: relative;
        .rog_mastery_title{
            font-size: calc(math.div(500,360) * 14px);
        }
        .rog_masterydesc{
            font-size: calc(math.div(500,360) * 20px);
        }
        .rog_mastery_buildings,
        .rog_mastery_customers{
            font-size: calc(math.div(500,360) * 10px);
        }
    }
}

.rog_era_tile_holder{
    width: 1046px;
    height: 960px;
    background-repeat: no-repeat;
    background-image: url("img/tiles/eraTileHolder.png");
    background-size: 100%;
}
.rog_era_tile_tooltip{
    h1{
        text-align: center;
    }
    .rog_era_tile_holder{
        width: 500px;
        height: 459px;
    }
}

#rog_era_tile_resizable {
    position: relative;
    width: calc(var(--rog_era_tile_holder_scale) * 1046px);
    height: calc(var(--rog_era_tile_holder_scale) * 960px);
    margin-bottom: 10px;
    #rog_era_tile_holder{
        margin-left: 5px;
        margin-bottom: 5px;
        position: relative;
        transform: scale(var(--rog_era_tile_holder_scale));
        transform-origin: top left;
        .help-marker{
            //Keep around the same size for the help marker in help mode
            transform: scale(calc(1 / var(--rog_era_tile_holder_scale)));
            transform-origin: top left;
            color: black;
        }

        .rog_building_slot{
            top: 250px;
            &#rog_building_era-1{
                left: -155px;
            }
            &#rog_building_era-2{
                left: 288px;
            }
            //add tile shape for tooltip sensitiveness
            clip-path: polygon(82.77% 10.15%, 96.27% 44.27%, 94.77% 60.73%, 83.49% 89.34%, 0.99% 92.71%, 0.71% 11.74%);
            .rog_tile{
                width: 890px;
                height: 445px;
                .help-marker{
                    top: 13%;
                    left: 70%;
                }
            }
        }
        
        .rog_deck_size {
            background: rgba(0, 0, 0, .7);
            border-radius: 0 0 50px 50px;
            color: #fff;
            //font-size: 57px;
            //Keep a readable size even when board is reduced :
            font-size: calc( 20px * math.div(1, var(--rog_era_tile_holder_scale)) * var(--rog_deckSizeScale));
            position: absolute;
            text-align: center;
            width: 367px;
            //bottom: 28px;
            bottom: 57px;
            cursor: help;
            &#rog_deck_size-1{
                left: 108px;
            }
            &#rog_deck_size-2{
                left: 552px;
            }
        }
    }
}

//Will hold the building tiles to be bought
#rog_building_row{
    .rog_building_slot{ 
        bottom: 365px;
        &#rog_building_slot-1{
            right: 354px;
        }
        &#rog_building_slot-2{
            right: 513px;
        }
        &#rog_building_slot-3{
            right: 674px;
        }
        &#rog_building_slot-4{
            right: 832px;
        }
 
    }
} 
.rog_building_slot{
    position: absolute;
    transform: rotate(-90deg); 

    .rog_tile{
        width: 340px;
        height: 170px;
            
        //&.selectable {
        //    box-shadow: 0px 0px 10px 2px rgb(26, 1, 248);
        //    cursor: pointer;
        //    &:hover,
        //    &.selected {
        //        transform: rotate(-90deg) scale(1.2);
        //        z-index: 2;
        //    }
        //}
    }
}
.rog_shore_space{
    position: absolute;
    transform: rotate(0deg); 
    //In case we add some shape background on the river...
    z-index: 1;

    .rog_tile{
        position: absolute;
        width: 333px;
        height: 170px;

        &.selectable {//for second marker selection :
            clip-path: polygon(82.77% 10.15%, 96.27% 44.27%, 94.77% 60.73%, 83.49% 89.34%, 0.99% 92.71%, 0.71% 11.74%);
            background-color: #c700ff6e;
            cursor: pointer;
            &:hover,
            &.selected {
                transform: scale(1.2);
                z-index: 2;
            }
            &.selected{
                background-color: rgb(0, 16, 162);
            }
        }
    }
}

.rog_tile[data-subtype='2'],//TILE_TYPE_BUILDING
.rog_shore_space .rog_tile,
.rog_shore_space.selectable:hover,
.rog_shore_space.selectable.selected,
.rog_tile_tooltip[data-subtype='2'] .rog_tile,//TILE_TYPE_BUILDING
.rog_button_building_tile_image,
.rog_building_slot .rog_tile{
        width: 333px;
        height: 170px;
        //sprite positions
        background-size: 500% 1000%;
        @for $i from 0 through 45 {
            &[data-type="#{$i + 1}"] {
                background-image: url("img/tiles/buildings.png");
                background-position-x: ($i % 5) * 100% / 4;
                background-position-y: (($i - ($i % 5)) / 5) * 100% / 9;
            }
        }
}
.rog_building_slot.selectable,
.rog_shore_space.selectable{
    width: 333px;
    height: 170px;
    background-size: 500% 1000%;
    background-image: url("img/tiles/buildings.png");
    //coord of yellow border
    background-position-x: 50%;
    background-position-y: 100%;
    background-color: #c700ff6e;
    clip-path: polygon(82.77% 10.15%, 96.27% 44.27%, 94.77% 60.73%, 83.49% 89.34%, 0.99% 92.71%, 0.71% 11.74%);
    //outline: 10px solid rgb(0, 4, 255);
    cursor: pointer;
    &.selected{
        //coord of blue border
        background-position-x: 100%;
    }
    &:hover {
        transform: scale(1.2);
    }
    &.rog_building_slot{
        background-color: rgb(44, 0, 255);
        clip-path: polygon(82.77% 8.17%, 97.24% 43.78%, 97.67% 61.22%, 83.49% 93.05%, 0.99% 92.71%, -1.23% 7.79%);
        &:hover {
            transform: rotate(-90deg) scale(1.2);
        }
        &.selected{
            background-color: rgb(0, 162, 0);
        }
    }
}
.rog_shore_space.selected,
.rog_tile.selected{
    outline: 10px solid green;
    background-color: rgba(0, 128, 0, 0.26);
}
.rog_button_building_tile_image{
    width: 200px;
    height: 100px;
}


.rog_emperor_tile{
    width: 375px;
    height: 422px;
    background-repeat: no-repeat;
    background-image: url("img/tiles/eraTileHolder.png");
    background-size: 100%;
    clip-path: polygon(8.83% 16.12%, 22.33% 5.45%, 32.6% 6.97%, 45.68% 15.43%, 47.2% 75.54%, 9.95% 75.20%);
    
    &.moving{
        //During slide animation
        width: calc(var(--rog_board_display_scale) * 375px);
        height: calc(var(--rog_board_display_scale) * 422px);
    }
}
.rog_shore_space{
    .rog_emperor_tile{
        z-index: 20;
        position: absolute;
        left: -202px;
    }
}