:root {
    --rog_board_display_scale: 1;
    --rog_hand_scale: 1;
    --rog_delivered_scale: 1;
    --rog_mastery_scale: 0.3;
    --rog_era_tile_holder_scale: 0.3;
    --rog_tileLogScale: 0.3;
    --rog_takeCardScale: 0.2;
}
