.rog_icon_customer_card{
    @include rog_icons_sprite(-1px,-1px,0.07 * 329px,0.07 * 381px,329px,381px);
}

.rog_icon_imperial_flower{
    @include rog_icons_sprite(-1px,-384px,30px,30.5px,300px,305px);
}

.rog_icon_bonus-21{//BONUS_TYPE_CHOICE
    @include rog_icons_sprite(-531px,-303px,0.9 * 64px,0.9 * 60px,64px,60px);
}

.rog_icon_bonus-23{//BONUS_TYPE_DRAW
    @include rog_icons_sprite(-897px,-384px,0.4 * 94px,0.4 * 166px,94px,166px);
}
.rog_icon_container_bonus-24{
    vertical-align: baseline;
}
.rog_icon_bonus-24{//BONUS_TYPE_UPGRADE_SHIP
    @include rog_icons_sprite(-332px, -303px, 0.5 * 129px,0.5 * 68px, 129px,68px);
}
.rog_icon_own_building,
.rog_icon_bonus-25{//BONUS_TYPE_SECOND_MARKER_ON_BUILDING
    @include rog_icons_sprite(-605px,-646px, 30px,15px, 57px,34px);
}
.rog_icon_opponent_building,
.rog_icon_bonus-26{//BONUS_TYPE_SECOND_MARKER_ON_OPPONENT
    @include rog_icons_sprite(-664px,-646px, 30px,15px, 57px,29px);
}

.rog_icon_bonus-27{//BONUS_TYPE_MONEY_OR_GOOD
    //look for an extract of the board (see bottom left)
    background-image: url("img/board.jpg");
    background-size: math.percentage(calc(math.div(2726px, 217px ))) math.percentage(math.div(4000px,75px )) !important;
    background-repeat: repeat !important;
    width: calc( 0.6 * 217px);
    height: calc( 0.6 * 75px);
    background-position-x: calc( 0.6 * -307px);
    background-position-y: calc( 0.6 * -3545px);
    border-radius: 10px;
}

.rog_icon_container_ship-3{
    vertical-align: baseline;
}
.rog_icon_ship-3{//MEEPLE_TYPE_SHIP_ROYAL
    @include rog_icons_sprite(-933px,-691px,30px,30px,57px,58px);
}

.rog_icon_moon_up{
    @include rog_icons_sprite(-897px,-552px,30px,30px,77px,78px);
}

.rog_icon_score_1{
    @include rog_icons_sprite(-116px,-953px,30px,25px,55px,43px);
}

.rog_icon_customer_delivery{
    @include rog_icons_sprite(-597px,-303px,30px,30px,62px,56px);
}

.rog_icon_market_simple{//SIMPLE : with no check mark on it
    @include rog_icons_sprite(-995px,-1px,30px,30px,52px,53px);
}

// In buttons ///////////////////////////
.customimagebutton{
    .rog_icon_bonus-21{
        background-color: white;
        border-radius: 15%;
    }
}

// CARDS ///////////////////////////
.rog_card_wrapper{
    .rog_delivery_ability,
    .rog_ongoing_ability,
    .rog_endgame_ability{
        $fontSize: 6px;
        .rog_icon_container_bonus-21{//BONUS_TYPE_CHOICE
            .rog_icon{
                transform: scale(calc(2 * math.div($fontSize, 0.9 * 64px))) !important;
            }
        }
        .rog_icon_container_bonus-24{//BONUS_TYPE_UPGRADE_SHIP
            width: 4em !important;
            height: 2em !important;
            .rog_icon{
                transform: scale(calc(4 * math.div($fontSize, 0.5 * 129px))) !important;
            }
        }
        
        .rog_icon_container_own_building,
        .rog_icon_container_bonus-25,//BONUS_TYPE_SECOND_MARKER_ON_BUILDING
        .rog_icon_container_opponent_building,
        .rog_icon_container_bonus-26{//BONUS_TYPE_SECOND_MARKER_ON_OPPONENT
            width: 2em !important;
            height: 1em !important;
        }
    }
}