.rog_icon_customer_card{
    @include rog_icons_sprite(-1px,-1px,0.07 * 329px,0.07 * 381px,329px,381px);
}

.rog_icon_automa_action_card{
    width: 25px;
    height: 35px;
    border-radius: 5px;
    background-size: 200% 300%;
    background-image: url("img/cards/seishin_deck.jpg");
    background-position-x: 0%;
    background-position-y: 0%;
}

.rog_icon_imperial_flower{
    @include rog_icons_sprite(-1px,-384px,30px,30.5px,300px,305px);
}

.rog_icon_bonus-21{//BONUS_TYPE_CHOICE
    @include rog_icons_sprite(-531px,-303px,0.9 * 64px,0.9 * 60px,64px,60px);
}

.rog_icon_bonus-23{//BONUS_TYPE_DRAW
    @include rog_icons_sprite(-897px,-384px,0.4 * 94px,0.4 * 166px,94px,166px);
}
.rog_icon_container_bonus-24{
    vertical-align: baseline;
}
.rog_icon_bonus-24{//BONUS_TYPE_UPGRADE_SHIP
    @include rog_icons_sprite(-332px, -303px, 0.5 * 129px,0.5 * 68px, 129px,68px);
}
.rog_icon_own_building,
.rog_icon_bonus-25{//BONUS_TYPE_SECOND_MARKER_ON_BUILDING
    @include rog_icons_sprite(-605px,-646px, 30px,15px, 57px,34px);
}
.rog_icon_opponent_building,
.rog_icon_bonus-26{//BONUS_TYPE_SECOND_MARKER_ON_OPPONENT
    @include rog_icons_sprite(-664px,-646px, 30px,15px, 57px,29px);
}

.rog_icon_bonus-27{//BONUS_TYPE_MONEY_OR_GOOD
    //look for an extract of the board (see bottom left)
    background-image: url("img/board.jpg");
    background-size: math.percentage(calc(math.div(2726px, 217px ))) math.percentage(math.div(4000px,75px )) !important;
    background-repeat: repeat !important;
    width: calc( 0.6 * 217px);
    height: calc( 0.6 * 75px);
    background-position-x: calc( 0.6 * -307px);
    background-position-y: calc( 0.6 * -3545px);
    border-radius: 10px;
}

.rog_icon_bonus-36{//BONUS_TYPE_PLACE_LION
    /*
    background-size: 100% 100%;
    width: 24px;
    height: 22px;
    background-image: url("img/clans/L5R_Icon_Lion.png");

    //Use Lady of Lions face :
    width: 35px;
    height: 35px;
    background-size: math.percentage(calc(math.div(1488px, 75px ))) math.percentage(math.div(1040px,75px ));
    background-repeat: repeat;
    background-image: url("img/icons/clans.jpg");
    background-position-x: 97%;
    background-position-y: 33%;
    border-radius: 50%;
    */

    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    background-image: url("img/icons/lady_lion_token.png");

}
.rog_icon_bonus-37,
.rog_icon_bonus-38,
.rog_icon_bonus-39
{
    // only text
    .rog_icon_qty{
        display: none;
    }
}
.rog_icon_bonus-41{//BONUS_TYPE_INF_SELECT_REGION
    //Extract from bonus track
    @include rog_icons_on_influence_tracks(-1318px,-503px,35px,35px,90px,90px);
    .rog_icon_qty{
        display: none;
    }
}
.rog_icon_container_bonus-41{//BONUS_TYPE_INF_SELECT_REGION
    &[data-qty="3"]{
        .rog_icon{
            @include rog_icons_on_influence_tracks(-1818px,-776px,35px,35px,54px,54px);
        }
    }
}
.rog_icon_bonus-42{//BONUS_TYPE_MULTITRADE_2
    //Extract from bonus track
    @include rog_icons_on_influence_tracks(-1670px,-940px,45px,45px,100px,100px);
    .rog_icon_qty{
        display: none;
    }
}
.rog_icon_bonus-43{//BONUS_TYPE_MULTITRADE_3
    //Extract from bonus track
    /* -> OBSOLETE
    @include rog_icons_on_influence_tracks(-1670px,-940px,45px,45px,100px,100px);
    */
    .rog_icon_qty{
        display: none;
    }
}

.rog_icon_bonus-44{//BONUS_TYPE_TRADE_KOKU
    //look for an extract of the tile
    background-image: url("img/tiles/buildings.png");
    background-position-x: 50%;
    background-position-y: 90%;
    background-size: math.percentage(calc(math.div(2000px, 114px ))) math.percentage(math.div(2200px,45px ));
    background-repeat: repeat !important;
    width: calc( 0.6 * 114px);
    height: calc( 0.6 * 45px);
    background-position-x: calc( 0.6 * -1055px);
    background-position-y: calc( 0.6 * -1894px);
    border-radius: 10px;
    .rog_icon_qty{
        display: none;
    }
}
.rog_icon_bonus-45{//BONUS_TYPE_TRADE_POINTS
    //look for an extract of the tile
    background-image: url("img/tiles/buildings.png");
    background-position-x: 50%;
    background-position-y: 90%;
    background-size: math.percentage(calc(math.div(2000px, 112px ))) math.percentage(math.div(2200px,50px ));
    background-repeat: repeat !important;
    width: calc( 0.6 * 112px);
    height: calc( 0.6 * 50px);
    background-position-x: calc( 0.6 * -1456px);
    background-position-y: calc( 0.6 * -1894px);
    border-radius: 10px;
    .rog_icon_qty{
        display: none;
    }
}

.rog_icon_bonus-46 //BONUS_TYPE_MANAGE_DEBT
,.rog_icon_bonus-47 //BONUS_TYPE_REMOVE_GOODS
{
    // only text
    .rog_icon_qty{
        display: none;
    }
}

.rog_icon_bonus-48{//BONUS_TYPE_INC_HAND_LIMIT
    //look for an extract of the City board
    @include rog_icons_on_city_board(-268px,-534px,86px,48px,86px,48px);
    border-radius: 10px;
}

.rog_icon_bonus-49{//BONUS_TYPE_DELIVER_TOP_DECK
    //look for an extract of the City board
    @include rog_icons_on_city_board(-600px,-385px,86px,48px,86px,48px);
    border-radius: 10px;
}

.rog_icon_bonus-51{//BONUS_TYPE_REWARDS_SELECT_REGION
    @include rog_icons_on_city_board(-435px,-697px,90px,40px,90px,40px);
    border-radius: 10px;
    .rog_icon_qty{
        display: none;
    }
}
.rog_icon_bonus-53{//BONUS_TYPE_BUILD_NEAR_SHIPS
    @include rog_icons_on_city_board(-602px,-539px,86px,50px,86px,50px);
    border-radius: 10px;
    .rog_icon_qty{
        display: none;
    }
}

.rog_icon_bonus-54{//BONUS_TYPE_FREE_SAIL
    @include rog_icons_on_city_board(-605px,-689px,80px,55px,80px,55px);
    border-radius: 10px;
    .rog_icon_qty{
        display: none;
    }
}

.rog_icon_container_ship-3{
    vertical-align: baseline;
}
.rog_icon_ship-3{//MEEPLE_TYPE_SHIP_ROYAL
    @include rog_icons_sprite(-933px,-691px,30px,30px,57px,58px);
}

.rog_icon_moon_up{
    @include rog_icons_sprite(-897px,-552px,30px,30px,77px,78px);
}

.rog_icon_score_1{
    @include rog_icons_sprite(-116px,-953px,30px,25px,55px,43px);
}

.rog_icon_customer_delivery{
    @include rog_icons_sprite(-597px,-303px,30px,30px,62px,56px);
}

.rog_icon_market_simple{//SIMPLE : with no check mark on it
    @include rog_icons_sprite(-995px,-1px,30px,30px,52px,53px);
}

// In buttons ///////////////////////////
.customimagebutton{
    .rog_icon_bonus-21{
        background-color: white;
        border-radius: 15%;
    }
}

// CARDS ///////////////////////////
.rog_card_wrapper{
    .rog_customer_cost{
        .rog_icon_money{
            .rog_icon_qty{
                //display number on the left
                color: black;
                display: inline-block;
                margin-left: -2em;
                font-size: 1.5em;
            }
        }
    }
    .rog_delivery_ability,
    .rog_ongoing_ability,
    .rog_endgame_ability{
        $fontSize: 6px;
        .rog_icon_container_bonus-21{//BONUS_TYPE_CHOICE
            .rog_icon{
                transform: scale(calc(2 * math.div($fontSize, 0.9 * 64px))) !important;
            }
        }
        .rog_icon_container_bonus-23{//BONUS_TYPE_DRAW
            width: 2em !important;
            height: 4em !important;
            .rog_icon{
                transform: scale(calc(4 * math.div($fontSize, 0.4 * 166px))) !important;
            }
        }
        .rog_icon_container_bonus-24{//BONUS_TYPE_UPGRADE_SHIP
            width: 4em !important;
            height: 2em !important;
            .rog_icon{
                transform: scale(calc(4 * math.div($fontSize, 0.5 * 129px))) !important;
            }
        }
        
        .rog_icon_container_own_building,
        .rog_icon_container_bonus-25,//BONUS_TYPE_SECOND_MARKER_ON_BUILDING
        .rog_icon_container_opponent_building,
        .rog_icon_container_bonus-26{//BONUS_TYPE_SECOND_MARKER_ON_OPPONENT
            width: 2em !important;
            height: 1em !important;
        }
    }
}