.rog_meeple {
    width: 75px;
    height: 75px;
    background: black;
    border-radius: 50%;
    box-shadow: 1px 1px 3px black;

    &[data-type='1'], //MEEPLE_TYPE_SHIP
    &[data-type='3'] //MEEPLE_TYPE_SHIP_ROYAL
    {
        background-image: url("img/boats.png");
        background-size: 200% 800%;
        background-color: transparent;
        box-shadow: none;
        background-position-x: 0%;
        border-radius: 0;
        width: 150px;
        height: 120px;

        &[data-clan="1"]//CLAN_CRAB
        {//blue
            background-position-y: 0%;
        }
        &[data-clan="3"]//CLAN_CRANE
        {//white
            background-position-y: (1 % 8) * 100% / 7;
        }
        &[data-clan="2"]//CLAN_MANTIS
        {//cyan
            background-position-y: (2 % 8) * 100% / 7;
        }
        &[data-clan="4"]//CLAN_SCORPION
        {//red
            background-position-y: (3 % 8) * 100% / 7;
        }
        
        &[data-clan="5"]//CLAN_PHOENIX
        {//orange
            background-position-y: (4 % 8) * 100% / 7;
        }
        &[data-clan="6"]//CLAN_LION
        {//yellow
            background-position-y: (5 % 8) * 100% / 7;
        }
        &[data-clan="7"]//CLAN_DRAGON
        {//new green
            background-position-y: (6 % 8) * 100% / 7;
        }
        &[data-clan="8"]//CLAN_UNICORN
        {//purple
            background-position-y: 100%;
        }
        
        &[data-clan="1"],//CLAN_CRAB
        &[data-clan="6"]//CLAN_LION
         //blue
          //yellow
        {
            //Shape for hovering on neighbours
            clip-path: polygon(104.26% 23.28%, 83.8% 17.95%, 63.58% 32.39%, 24.37% 47.88%, -6.87% 56.4%, 30.86% 83.52%, 96.59% 61.64%);
        }
        &[data-clan="3"],//CLAN_CRANE
        &[data-clan="5"]//CLAN_PHOENIX
        //white
        //orange
        {
            //Shape for hovering on neighbours
            clip-path: polygon(98.95% 25.12%, 66.82% 16.93%, 32.45% 31.51%, 2.30% 32.22%, 17.97% 78.75%, 41.79% 86.21%, 90.4% 66.69%);
        }
        &[data-clan="2"],//CLAN_MANTIS
        &[data-clan="8"]//CLAN_UNICORN
        //green v1
        //cyan
        //purple
        {
            //Shape for hovering on neighbours
            clip-path: polygon(70.16% 16.88%, 42.03% 33.93%, 7.08% 52.05%, 22.42% 90.41%, 83.80% 72.29%, 97.44% 26.47%);
        }
        &[data-clan="4"],//CLAN_SCORPION
        &[data-clan="7"]//CLAN_DRAGON
        //red
        //green v2
        {
            //Shape for hovering on neighbours
            clip-path: polygon(71.87% 16.88%, 39.47% 21.15%, -4.86% 46.72%, 21.57% 86.15%, 100.00% 60.56%, 103.41% 28.6%);
        }
    }
    &[data-type='3'] {//MEEPLE_TYPE_SHIP_ROYAL
        background-position-x: 100%;
        
        &[data-clan="1"],//CLAN_CRAB
        &[data-clan="6"]//CLAN_LION
        //blue
        //yellow
        {
            clip-path: polygon(68.45% 6.23%, 15.59% 12.62%, 14.76% 60.57%, -8.03% 62.9%, 26.37% 91.29%, 47.14% 90.4%, 71.01% 84.02%, 96.58% 73.37%, 106.82% 36.06%, 74.42% 29.67%);
        }
        &[data-clan="3"],//CLAN_CRANE
        &[data-clan="5"]//CLAN_PHOENIX
        //white
        //orange
        {
            clip-path: polygon(81.24% 10.2%, 46.96% 1.31%, 28.67% 2.74%, 21.58% 42.85%, 1.4% 47.13%, 13.04% 95.82%, 44.85% 103.26%, 73.32% 92.95%, 92.94% 79.79%, 103.43% 35.77%, 81.55% 28.28%);
        }
        &[data-clan="2"],//CLAN_MANTIS
        &[data-clan="8"]//CLAN_UNICORN
        //green v1
        //cyan
        //purple
        {
            clip-path: polygon(65.04% 11.56%, 17.3% 14.75%, 19.87% 53.11%, 4.52% 60.57%, 18.16% 84.03%, 47.14% 90.4%, 70.16% 86.15%, 89.76% 60.58%, 97.44% 35%, 73.57% 28.6%);
        }
        &[data-clan="4"],//CLAN_SCORPION
        &[data-clan="7"]//CLAN_DRAGON
        //red
        //green v2
        {
            clip-path: polygon(58.22% 7.3%, 42.88% 20.08%, 13.06% 19.01%, 7.94% 50.97%, -3.15% 53.11%, 17.31% 89.36%, 40.32% 90.4%, 85.5% 74.42%, 99.99% 46.73%, 88.91% 30.74%, 82.1% 13.68%);
        }
    }

    &[data-type='2'] {//MEEPLE_TYPE_CLAN_MARKER
        background-image: url("img/clans_markers.png");
        background-size: 800% 100%;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;

        &[data-clan="2"]//CLAN_MANTIS
        //cyan //green
        {
            background-position-x: 0%;
        }
        &[data-clan="1"]//CLAN_CRAB
        {//blue
            background-position-x: (1 % 8) * 100% / 7;
        }
        &[data-clan="3"]//CLAN_CRANE
        {//white
            background-position-x: (2 % 8) * 100% / 7;
        }
        &[data-clan="4"]//CLAN_SCORPION
        {//red
            background-position-x: (3 % 8) * 100% / 7;
        }
        
        &[data-clan="5"]//CLAN_PHOENIX
        {//orange
            background-position-x: (4 % 8) * 100% / 7;
        }
        &[data-clan="6"]//CLAN_LION
        {//yellow
            background-position-x: (5 % 8) * 100% / 7;
        }
        &[data-clan="7"]//CLAN_DRAGON
        {//new green
            background-position-x: (6 % 8) * 100% / 7;
        }
        &[data-clan="8"]//CLAN_UNICORN
        {//purple
            background-position-x: 100%;
        }
    }

    &[data-type='4'] {//MEEPLE_TYPE_LION_MARKER
        //Use Lady of Lions face :
        width: 110px;
        height: 110px;
        background-size: math.percentage(calc(math.div(1488px, 75px ))) math.percentage(math.div(1040px,75px ));
        background-repeat: repeat;
        background-image: url("img/clans/clans.jpg");
        background-position-x: 97%;
        background-position-y: 33%;
        border-radius: 50%;
    }
    
    &.rog_score_meeple { //[data-type='9'] {//MEEPLE_TYPE_SCORE_MARKER
        background-image: url("img/score_markers.png");
        background-size: 800% 100%;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        width: calc(0.6 * 95px);
        height: calc(0.6 * 190px);

        &[data-color="000000"] {//black at start
            display: none;
        }
        &[data-clan="2"]//CLAN_MANTIS
         //cyan
        {//green
            background-position-x: 0%;
        }
        &[data-clan="1"]//CLAN_CRAB
        {//blue
            background-position-x: (1 % 8) * 100% / 7;
        }
        &[data-clan="3"]//CLAN_CRANE
        {//white
            background-position-x: (2 % 8) * 100% / 7;
        }
        &[data-clan="4"]//CLAN_SCORPION
        {//red
            background-position-x: (3 % 8) * 100% / 7;
        }
        
        &[data-clan="5"]//CLAN_PHOENIX
        {//orange
            background-position-x: (4 % 8) * 100% / 7;
        }
        &[data-clan="6"]//CLAN_LION
        {//yellow
            background-position-x: (5 % 8) * 100% / 7;
        }
        &[data-clan="7"]//CLAN_DRAGON
        {//new green
            background-position-x: (6 % 8) * 100% / 7;
        }
        &[data-clan="8"]//CLAN_UNICORN
        {//purple
            background-position-x: 100%;
        }
    }
    &.tooltipable:not(.selectable):hover{
        //outline: 10px solid black;
        //filter: drop-shadow(0 0 15px black);
        cursor: help;
    }
    &.selectable{
        //outline: 10px solid blue;
        //filter: drop-shadow(0 0 15px #00f3ff);
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
    &.selected{
        //outline: 10px solid #ff04cc;
        //filter: drop-shadow(0 0 15px red);
    }
}

html:not(.dj_safari) .rog_meeple{
    // Drop shadow issues on Safari mobiles 
    &.tooltipable:not(.selectable):hover{
        filter: drop-shadow(0 0 15px black);
    }
    &.selectable{
        filter: drop-shadow(0 0 15px #00f3ff);
    }
    &.selected{
        filter: drop-shadow(0 0 15px red);
    }
}

body[data-rog_anim_ship_selected='2']{//PREF_ANIMATION_SHIP_SELECTED_BOUNCE
    .rog_meeple.selected{
        //add a bounce animation : be careful, it is not compatible with other transform !
        animation: rog_bounce 2s ease infinite;
    }
}


@keyframes rog_bounce {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    to {
      transform: scale(1);
    }
}

.rog_tile{
    .rog_meeple{
        position: absolute;
        left: 119px;
        top: 34px;
        /*GOOD, but strange when we hover on it on Chrome, the building tiles seem affected by a redrawing
        transform: translateY(0);
        transition: transform 0.5s;
        */
        transition: opacity 0.5s ease;
        &[data-pos='1']{//First clan marker on building
            z-index: 1;
        }
        &[data-pos='2']{//Second clan marker on building
            top: 14px;
            z-index: 2;
        }
    }
    &:hover{
        .rog_meeple{
            //View behind meeple
            /*
            transform:translateY(-90%);
            &[data-pos='2']{//Second clan marker on building
                transform:translateY(-100%);
            }
            */
            opacity: 0.3;
        }
    }
}
.rog_card{
    .rog_meeple{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
    }
    &:hover{
        .rog_meeple{
            opacity: 0.3;
        }
    }
}
.rog_shore_space{
    >.rog_meeple{
        transition: opacity 0.5s ease;
    }
    &:hover{
        >.rog_meeple{
            opacity: 0.3;
        }
    }
}
.rog_artisan_space,
.rog_elder_space{
    position: absolute;
    display: flex;
    flex-direction: column; 
    width: 72px;
    height: 72px;
    .rog_meeple{
        //Don't use transform here because the river container use transform to resize and it is painful on Chrome (blurring) : we can use margin instead
        //transform: translateY(0);
        //transition: transform 0.5s; 
        margin-top: 0px;
        transition: margin .5s;

    }
    &:hover .rog_meeple{
        //View behind meeple 
        margin-top: -100px;
        &:nth-child(1){
            //transform:translateY(-100%);
            margin-top: -60px;
        }
    }
}
.rog_artisan_space{
    &#rog_artisan_space_1{
        top: 610px;
        left: 2102px;
    }
    &#rog_artisan_space_2{
        top: 1108px;
        left: 2199px;
    }
    &#rog_artisan_space_3{
        top: 1594px;
        left: 2258px;
    }
    &#rog_artisan_space_4{
        top: 2091px;
        left: 2262px;
    }
    &#rog_artisan_space_5{
        top: 2577px;
        left: 2285px;
    }
    &#rog_artisan_space_6{
        top: 3071px;
        left: 2180px;
    }
}
.rog_elder_space{
    &#rog_elder_space_1{
        top: 476px;
        left: 2102px;
    }
    &#rog_elder_space_2{
        top: 975px;
        left: 2199px;
    }
    &#rog_elder_space_3{
        top: 1466px;
        left: 2258px;
    }
    &#rog_elder_space_4{
        top: 1955px;
        left: 2262px;
    }
    &#rog_elder_space_5{
        top: 2442px;
        left: 2285px;
    }
    &#rog_elder_space_6{
        top: 2939px;
        left: 2180px;
    }
}
.rog_influence_track{
    position: absolute;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    &[data-region='1']{
        top: 569px;
        left: 1550px;
    }
    &[data-region='2']{
        top: 1057px;
        left: 1639px;
    }
    &[data-region='3']{
        top: 1551px;
        left: 1703px;
    }
    &[data-region='4']{
        top: 2042px;
        left: 1702px;
    }
    &[data-region='5']{
        top: 2534px;
        left: 1730px;
    }
    &[data-region='6']{
        top: 3024px;
        left: 1623px;
    }
    &[data-customtrack='1'],
    &[data-customtrack='2'],
    &[data-customtrack='3'],
    &[data-customtrack='4'],
    &[data-customtrack='5'],
    &[data-customtrack='6']
    {
        $regionTrackOffset: 22px; 
        &[data-region='1']{
            left: calc(1550px - $regionTrackOffset);
        }
        &[data-region='2']{
            left: calc(1639px - $regionTrackOffset);
        }
        &[data-region='3']{
            left: calc(1703px - $regionTrackOffset);
        }
        &[data-region='4']{
            left: calc(1702px - $regionTrackOffset);
        }
        &[data-region='5']{
            left: calc(1730px - $regionTrackOffset);
        }
        &[data-region='6']{
            left: calc(1623px - $regionTrackOffset);
        }
        .rog_influence_track_background{
            position: absolute;
            top: -29px;
            left: calc(-80px + $regionTrackOffset);
            width: 784px;
            height: 347px;
            background-repeat: no-repeat;
            background-image: url("img/regions/track_back.png");
            background-size: 100%;
            .rog_influence_track_bonuses{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-image: url("img/regions/6tracks.png");
                background-size: 200% 300%;
            }
        }
        &[data-customtrack='1']{
            .rog_influence_track_bonuses{
                background-position-x: 0%;
                background-position-y: 0%;
            }
        }
        &[data-customtrack='2']{
            .rog_influence_track_bonuses{
                background-position-x: 0%;
                background-position-y: 50%;
            }
        }
        &[data-customtrack='3']{
            .rog_influence_track_bonuses{
                background-position-x: 0%;
                background-position-y: 100%;
            }
        }
        &[data-customtrack='4']{
            .rog_influence_track_bonuses{
                background-position-x: 100%;
                background-position-y: 0%;
            }
        }
        &[data-customtrack='5']{
            .rog_influence_track_bonuses{
                background-position-x: 100%;
                background-position-y: 50%;
            }
        }
        &[data-customtrack='6']{
            .rog_influence_track_bonuses{
                background-position-x: 100%;
                background-position-y: 100%;
            }
        }
    }
    .rog_influence_track_space{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 16px;
        margin-left: 6px;
        width: 69px;
        height: 93px;
        @for $i from 1 through 6 {
            //Line 1 from left to right
            &[data-pos="#{$i - 1}"]{
                grid-row-start: 1;
                grid-column-start: $i;
            }
        }
        @for $i from 1 through 6 {
            //Line 2 from right to left
            &[data-pos="#{12 - $i}"]{
                grid-row-start: 2;
                grid-column-start: $i;
            }
        }
        @for $i from 1 through 7 {
            //Line 3 from left to right
            &[data-pos="#{11 + $i}"]{
                grid-row-start: 3;
                grid-column-start: $i;
            }
        }
        .rog_meeple{
            //Don't use transform here because the river container use transform to resize and it is painful on Chrome (blurring) : we can use margin instead
            //transform: translateY(0);
            //transition: transform 0.5s; 

            margin-top: 0px;
            transition: margin .5s;

            &:nth-child(2){
                z-index: 2;
                margin-top: -30px;
            }
            &:nth-child(3){
                z-index: 3;
                margin-top: -30px;
            }
            &:nth-child(4){
                z-index: 4;
                margin-top: -30px;
            }
            &:nth-child(5){
                z-index: 5;
                margin-top: -30px;
            }
        }
        &.tooltipable .rog_meeple{
            //offset +1 because of help-marker
            &:nth-child(2){
                margin-top: 0px;
            }
            &:nth-child(3){
                margin-top: -30px;
            }
            &:nth-child(4){
                margin-top: -30px;
            }
            &:nth-child(5){
                margin-top: -30px;
            }
            &:nth-child(6){
                z-index: 6;
                margin-top: -30px;
            }
        }
        &:hover .rog_meeple{
            z-index: 5;//must be visible over elements like artisan space meeples
            //View behind meeple
            &:nth-child(6),
            &:nth-child(5){
                margin-top: -100px;
            }
            &:nth-child(4){
                //transform:translateY(-50%);
                margin-top: -100px;
            }
            &:nth-child(3){
                //transform:translateY(-70%);
                margin-top: -100px;
            }
            &:nth-child(2){
                //transform:translateY(-90%);
                margin-top: -100px;
            }
            &:nth-child(1){
                //transform:translateY(-100%);
                margin-top: -60px;
            }
        }
        &.tooltipable:hover .rog_meeple{
            //offset +1 because of help-marker
            &:nth-child(5){
                margin-top: -100px;
            }
            &:nth-child(4){
                margin-top: -100px;
            }
            &:nth-child(3){
                margin-top: -100px;
            }
            &:nth-child(2){
                margin-top: -60px;
            }
            &:nth-child(1){
                margin-top: 0px;
            }
        }
    }
}

#rog_merchant_space{
    right: 50px;
    bottom: 31px;
    position: absolute;
    display: flex;
    flex-direction: column; 
    width: 72px;
    height: 72px;

    .rog_meeple{
        //Don't use transform here because the river container use transform to resize and it is painful on Chrome (blurring) : we can use margin instead
        //transform: translateY(0);
        //transition: transform 0.5s; 
        margin-top: 0px;
        transition: margin .5s;

        &:nth-child(2){
            z-index: 2;
            margin-top: -30px;
        }
        &:nth-child(3){
            z-index: 3;
            margin-top: -30px;
        }
        &:nth-child(4){
            z-index: 4;
            margin-top: -30px;
        }
        &:nth-child(5){
            z-index: 5;
            margin-top: -30px;
        }
    }
    &:hover .rog_meeple{
        //View behind meeple
        margin-top: -100px;
        &:nth-child(4){
            //transform:translateY(-50%);
        }
        &:nth-child(3){
            //transform:translateY(-70%);
        }
        &:nth-child(2){
            //transform:translateY(-90%);
        }
        &:nth-child(1){
            //transform:translateY(-100%);
            margin-top: -60px;
        }
    }
}

/////////////////////////////////////////////////////////////////////
//Layout for ships on the river : max 8 ships on the same space
/////////////////////////////////////////////////////////////////////
.rog_river_space{
    .rog_meeple{
        //SHIPS over rog_river_shape
        z-index: 2;
        &:hover,
        &.selected {
            z-index: 10 !important;
        }
        position: absolute;
    }
}
//#rog_game_container[data-nbplayers='5']{
.rog_river_space[data-nbmeeples='9'],
.rog_river_space[data-nbmeeples='10'],
.rog_river_space[data-nbmeeples='11']{
    //Layout for ships on the river : max 11 ships on the same space !
    //Reduce ship size ...
    .rog_meeple{
        width: 100px;
        height: 80px;
    }
}
#rog_river_space-1{
    .rog_meeple{
        //Starts children with 2 because index 1 is for rog_river_shape
        &:nth-of-type(2){
            top: -3px;
            left: -31px;
        }
        &:nth-of-type(3) {
            top: 48px;
            left: -20px;
        }
        &:nth-of-type(4) {
            top: 21px;
            left: 75px;
        }
        &:nth-of-type(5) {
            top: 83px;
            left: 89px;
        }
        &:nth-of-type(6) {
            top: 150px;
            left: 50px;
        }
        &:nth-of-type(7){
            top: 117px;
            left: -43px;
        }
        &:nth-of-type(8) {
            top: 207px;
            left: -43px;
        }
        &:nth-of-type(9){
            top: 268px;
            left: -103px;
        }
        &:nth-of-type(10){ //9th ship
            top: 215px;
            left: -100px;
        }
        &:nth-of-type(11){ //10th ship
            top: 197px;
            left: 49px;
        }
        &:nth-of-type(12){ //11th ship
            top: 130px;
            left: 130px;
        }
    }
}

#rog_river_space-2 .rog_meeple{
    //Starts children with 2 because index 1 is for rog_river_shape
    &:nth-of-type(2){
        top: -3px;
        left: -31px;
        z-index: 5;
    }
    &:nth-of-type(3) {
        top: 48px;
        left: -20px;
        z-index: 6;
    }
    &:nth-of-type(4) {
        top: 44px;
        left: 75px;
        z-index: 7;
    }
    &:nth-of-type(5) {
        top: 104px;
        left: 89px;
        z-index: 9;
    }
    &:nth-of-type(6) {
        top: -50px;
        left: 50px;
        z-index: 4;
    }
    &:nth-of-type(7){
        top: -97px;
        left: 79px;
        z-index: 3;
    }
    &:nth-of-type(8) {
        top: -130px;
        left: 132px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: 109px;
        left: 22px;
        z-index: 8;
    }
    &:nth-of-type(10){ //9th ship
        top: -77px;
        left: 143px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: -14px;
        left: 43px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 118px;
        left: 144px;
        z-index: 12;
    }
}

#rog_river_space-3 .rog_meeple{
    &:nth-of-type(2){
        top: -35px;
        left: -44px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: -10px;
        left: -1px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 22px;
        left: 89px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 70px;
        left: 55px;
        z-index: 8;
    }
    &:nth-of-type(7){
        top: 115px;
        left: 92px;
        z-index: 9;
    }
    &:nth-of-type(8) {
        top: -72px;
        left: -82px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -130px;
        left: -119px;
        z-index: 3;
    }
    &:nth-of-type(10){ //9th ship
        top: 51px;
        left: 140px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 116px;
        left: 163px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 178px;
        left: 163px;
        z-index: 12;
    }
}
#rog_river_space-4 .rog_meeple{
    &:nth-of-type(2){
        top: -35px;
        left: -44px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: -10px;
        left: -1px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 22px;
        left: 89px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 70px;
        left: 55px;
        z-index: 9;
    }
    &:nth-of-type(7){
        top: 60px;
        left: -32px;
        z-index: 8;
    }
    &:nth-of-type(8) {
        top: -83px;
        left: -54px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -134px;
        left: -79px;
        z-index: 3;
    }
    &:nth-of-type(10){ //9th ship
        top: 105px;
        left: 64px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 64px;
        left: 133px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 105px;
        left: -6px;
        z-index: 12;
    }
}

#rog_river_space-5 .rog_meeple{
    &:nth-of-type(2){
        top: -35px;
        left: -44px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: -10px;
        left: -1px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 22px;
        left: 89px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 71px;
        left: -39px;
        z-index: 9;
    }
    &:nth-of-type(7){
        top: 30px;
        left: -77px;
        z-index: 8;
    }
    &:nth-of-type(8) {
        top: -81px;
        left: 59px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -39px;
        left: 86px;
        z-index: 3;
    }
    &:nth-of-type(10){ //9th ship
        top: 78px;
        left: 45px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 59px;
        left: 120px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: -2px;
        left: 159px;
        z-index: 12;
    }
}

#rog_river_space-6 .rog_meeple{
    &:nth-of-type(2){
        top: -79px;
        left: -67px;
        z-index: 2;
    }
    &:nth-of-type(3) {
        top: -40px;
        left: -1px;
        z-index: 3;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 3px;
        z-index: 4;
    }
    &:nth-of-type(5) {
        top: 39px;
        left: 40px;
        z-index: 5;
    }
    &:nth-of-type(6) {
        top: 86px;
        left: 31px;
        z-index: 6;
    }
    &:nth-of-type(7){
        top: 150px;
        left: 82px;
        z-index: 7;
    }
    &:nth-of-type(8) {
        z-index: 8;
        top: 201px;
        left: 138px;
    }
    &:nth-of-type(9){
        z-index: 9;
        top: 258px;
        left: 138px;
    }
    &:nth-of-type(10){ //9th ship
        top: -45px;
        left: -115px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: -87px;
        left: 50px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: -11px;
        left: 90px;
        z-index: 12;
    }
}

#rog_river_space-7 .rog_meeple{
    &:nth-of-type(2){
        top: -124px;
        left: -42px;
        z-index: 3;
    }
    &:nth-of-type(3) {
        top: -40px;
        left: -1px;
        z-index: 4;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 3px;
        z-index: 5;
    }
    &:nth-of-type(5) {
        top: 39px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(6) {
        top: 86px;
        left: 31px;
        z-index: 7;
    }
    &:nth-of-type(7){
        top: 116px;
        left: 82px;
        z-index: 8;
    }
    &:nth-of-type(8) {
        top: 126px;
        left: -15px;
        z-index: 9;
    }
    &:nth-of-type(9){
        top: -160px;
        left: -71px;
        z-index: 2;
    }
    &:nth-of-type(10){ //9th ship
        top: 139px;
        left: 157px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 53px;
        left: 93px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: -92px;
        left: 11px;
        z-index: 12;
    }
}
#rog_river_space-8 .rog_meeple{
    &:nth-of-type(2){
        top: -24px;
        left: -13px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: 2px;
        left: 55px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 35px;
        left: 90px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 76px;
        left: 139px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 101px;
        left: 9px;
        z-index: 9;
    }
    &:nth-of-type(7){
        top: 60px;
        left: -27px;
        z-index: 8;
    }
    &:nth-of-type(8) {
        top: -35px;
        left: 118px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: 12px;
        left: 155px;
        z-index: 3;
    }
    &:nth-of-type(10){ //9th ship
        top: 140px;
        left: 9px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 126px;
        left: 97px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 138px;
        left: 189px;
        z-index: 12;
    }
}

#rog_river_space-9 .rog_meeple{
    &:nth-of-type(2){
        top: -35px;
        left: -44px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: -10px;
        left: -1px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 5px;
        left: 40px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 56px;
        left: -21px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 104px;
        left: -34px;
        z-index: 8;
    }
    &:nth-of-type(7){
        top: 146px;
        left: -36px;
        z-index: 9;
    }
    &:nth-of-type(8) {
        top: -86px;
        left: 4px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -86px;
        left: 93px;
        z-index: 3;
    }
    &:nth-of-type(10){ //9th ship
        top: -41px;
        left: 116px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 6px;
        left: 103px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 62px;
        left: 60px;
        z-index: 12;
    }
}
#rog_river_space-10 .rog_meeple{
    &:nth-of-type(2){
        top: -22px;
        left: -56px;
        z-index: 4;
    }
    &:nth-of-type(3) {
        top: 15px;
        left: -20px;
        z-index: 5;
    }
    &:nth-of-type(4) {
        top: 39px;
        left: 18px;
        z-index: 6;
    }
    &:nth-of-type(5) {
        top: 84px;
        left: 58px;
        z-index: 7;
    }
    &:nth-of-type(6) {
        top: 135px;
        left: 79px;
        z-index: 8;
    }
    &:nth-of-type(7){
        top: 191px;
        left: 93px;
        z-index: 9;
    }
    &:nth-of-type(8) {
        top: -85px;
        left: 13px;
        z-index: 2;
    }
    &:nth-of-type(9){
        top: -158px;
        left: 32px;
        z-index: 3;
    }
    &:nth-of-type(10){ //9th ship
        top: -131px;
        left: 87px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 33px;
        left: 87px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 93px;
        left: 148px;
        z-index: 12;
    }
}
#rog_river_space-11 .rog_meeple{
    &:nth-of-type(2){
        top: -61px;
        left: 1px;
        z-index: 2;
    }
    &:nth-of-type(3) {
        top: -14px;
        left: 13px;
        z-index: 3;
    }
    &:nth-of-type(4) {
        top: 22px;
        left: 42px;
        z-index: 4;
    }
    &:nth-of-type(5) {
        top: 67px;
        left: 79px;
        z-index: 5;
    }
    &:nth-of-type(6) {
        top: 113px;
        left: 83px;
        z-index: 6;
    }
    &:nth-of-type(7){
        top: 170px;
        left: 39px;
        z-index: 9;
    }
    &:nth-of-type(8) {
        top: 90px;
        left: -8px;
        z-index: 7;
    }
    &:nth-of-type(9){
        top: 139px;
        left: 19px;
        z-index: 8;
    }
    &:nth-of-type(10){ //9th ship
        top: 113px;
        left: 157px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 173px;
        left: 118px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 241px;
        left: 69px;
        z-index: 12;
    }
}

#rog_river_space-12 .rog_meeple{
    &:nth-of-type(2) {
        top: -61px;
        left: 1px;
        z-index: 2;
    }
    &:nth-of-type(3) {
        top: -14px;
        left: 13px;
        z-index: 3;
    }
    &:nth-of-type(4) {
        top: 22px;
        left: 42px;
        z-index: 4;
    }
    &:nth-of-type(5) {
        top: 52px;
        left: 79px;
        z-index: 5;
    }
    &:nth-of-type(6) {
        top: 49px;
        left: -50px;
        z-index: 6;
    }
    &:nth-of-type(7) {
        top: 96px;
        left: -53px;
        z-index: 7;
    }
    &:nth-of-type(8) {
        top: 152px;
        left: -106px;
        z-index: 8;
    }
    &:nth-of-type(9) {
        top: 188px;
        left: -149px;
        z-index: 9;
    }
    &:nth-of-type(10){ //9th ship
        top: 74px;
        left: 123px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 94px;
        left: 20px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: -39px;
        left: 83px;
        z-index: 12;
    }
}

#rog_river_space-13 .rog_meeple{
    &:nth-of-type(2) {
        top: -3px;
        left: -15px;
        z-index: 6;
    }
    &:nth-of-type(3) {
        top: 48px;
        left: 16px;
        z-index: 7;
    }
    &:nth-of-type(4) {
        top: 86px;
        left: 58px;
        z-index: 8;
    }
    &:nth-of-type(5) {
        top: 122px;
        left: 89px;
        z-index: 9;
    }
    &:nth-of-type(6) {
        top: -50px;
        left: 50px;
        z-index: 4;
    }
    &:nth-of-type(7) {
        top: -97px;
        left: 79px;
        z-index: 3;
    }
    &:nth-of-type(8) {
        top: -130px;
        left: 132px;
        z-index: 2;
    }
    &:nth-of-type(9) {
        top: -37px;
        left: -47px;
        z-index: 5;
    }
    &:nth-of-type(10){ //9th ship
        top: -90px;
        left: 173px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: -34px;
        left: 114px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 162px;
        left: 151px;
        z-index: 12;
    }
}
#rog_river_space-14 .rog_meeple{
    &:nth-of-type(2) {
        top: -83px;
        left: -33px;
        z-index: 2;
    }
    &:nth-of-type(3) {
        top: -44px;
        left: 19px;
        z-index: 3;
    }
    &:nth-of-type(4) {
        top: -3px;
        left: 68px;
        z-index: 4;
    }
    &:nth-of-type(5) {
        top: 35px;
        left: 132px;
        z-index: 5;
    }
    &:nth-of-type(6) {
        top: 7px;
        left: -124px;
        z-index: 6;
    }
    &:nth-of-type(7) {
        top: 170px;
        left: 39px;
        z-index: 7;
        top: 48px;
        left: -87px;
    }
    &:nth-of-type(8) {
        top: 92px;
        left: -8px;
        z-index: 8;
    }
    &:nth-of-type(9) {
        top: 139px;
        left: 19px;
        z-index: 9;
    }
    &:nth-of-type(10){ //9th ship
        top: 64px;
        left: -174px;
        z-index: 10;
    }
    &:nth-of-type(11){ //10th ship
        top: 119px;
        left: -117px;
        z-index: 11;
    }
    &:nth-of-type(12){ //11th ship
        top: 179px;
        left: -70px;
        z-index: 12;
    }
}
/////////////////////////////////////////////////////////////////////