
#rog_upper_zone{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#rog_main_zone{
    #rog_board_filler{
        // Mobile issue on Brave and maybe Chrome : 
        //No specific display here, but this "text" div make the browser make better computation of parent width/height ?
        font-size: 0.1em;
    }

    #rog_players_boards{
        
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        
        .rog_player_delivered{
            align-content: center;
            align-items: center;
            width: 100%;
            .rog_cards_delivered{
                flex-wrap: wrap;
            }
        }
    }
} 
